{{define "scripts_pages"}}
<script src="../../Recursos/Local/Medidas/js/medidas.js"></script>
{{end}} 

{{define "styles_pages"}}
<link href="../../Recursos/Local/Medidas/Css/medidas.css" rel="stylesheet" type="text/css">
{{end}}

{{define "content_body"}}
<div class="container">
	<div class="page-header">
		<h1>Creación de Medidas : </h1>
	</div>
	<div class="row">
		<form id="miformularioimpuesto">				
			<div class="input-group input-group-md">
			<span class="input-group-addon">Elige Tipo de Medida:</span>
			<select onchange="GetMedida();" name="s_medida" id="s_medida" class="selectpicker form-control">
                <option selected="" value="Seleccione Medida..">Seleccione Medida..</option>
				{{range .}}
                <option value="{{.Id.Hex}}">{{.Grupo}}</option>
				{{end}}
            </select>
            <span class="input-group-addon">
            	<input type="button" class="btn btn-md btn-success" onClick="AgregarMedida();" value=" + Medida" name="agregarmedida_" id="agregarmedida_">
            </span>
            <span class="input-group-addon">
            	<input type="button" class="btn btn-md btn-danger" onClick="EliminarMedida();" value=" - Eliminar Medida" name="eliminar_medida" id="eliminar_medida">
            </span>
			</div>
			<div id="contenedor1"></div>
			<div id="contenedorguardar"></div>				
		</form>
	</div>
</div>

<br>
<div class="container">
	<div class="row">
		<div id="contenedornewmedida"></div>
	</div>
</div>

<div class="clearfix"></div>
<br>
<br>
{{end}}

