{{define "scripts_pages"}}
<script src="../../Recursos/Local/Almacenes/js/almacenes.js"></script>
{{end}} 

{{define "styles_pages"}}
<link href="../../Recursos/Local/Almacenes/Css/almacenes.css" rel="stylesheet" type="text/css">
{{end}}

{{define "content_body"}}
<div class="container">
	<div class="page-header">
		<h1>Creación de Almacenes : </h1>
	</div>
	<div class="row">
		<form id="miformularioalmacenes">				
			<div class="input-group input-group-md">
			<span class="input-group-addon">Elige Almacen:</span>
			<select onchange="GetAlmacenes();" name="s_almacen" id="s_almacen" class="selectpicker form-control">
            	<option selected="" value="Seleccione Almacen..">Seleccione Almacen..</option>
				{{range .}}
                <option value="{{.Id.Hex}}">{{.Nombre}}</option>
				{{end}}
            </select>
            <span class="input-group-addon">
                <input type="button" class="btn btn-mm btn-success" value=" + Almacén" name="nuevo_almacen" id="nuevo_almacen">
            </span>
            <span class="input-group-addon">
            	<input type="button" class="btn btn-md btn-danger" onClick="EliminarAlmacen();" value=" - Eliminar Almacén" name="eliminar_almacen" id="eliminar_almacen">
            </span>
			</div>					
			<div id="contenedor1"></div>
			<div id="contenedorguardar"></div>		
		</form>
	</div>
</div>
<br>
<div class="container">						
	<div class="row">										
		<div id="contenedor2"></div>
		<div id="contenedor3"></div>		
	</div>
</div>						
{{end}}