body{            
      /*background: url('http://www.siwallpaperhd.com/wp-content/uploads/2015/09/ps4_blue_minimalist_wallpaper.jpg') no-repeat center center fixed; */
	  background-color:white;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
.colbox {
	   margin-left: 0px;
	   margin-right: 0px;
	}
	/*
	Code snippet by maridlcrmn for Bootsnipp.com
	Follow me on Twitter @maridlcrmn
	Image credits: unsplash.com, uifaces.com/authorized
	Image placeholders: placemi.com
	*/
	
	
	#t-cards {
	  padding-top: 80px;
	  padding-bottom: 80px;
	  /*background-color: #345;*/
	  background-color: transparent;
	}
	
	/********************************/
	/*          Panel cards         */
	/********************************/
	.panel.panel-card {
	  position: relative;
	  height: 241px;
	  border: none;
	  overflow: hidden;
	}
	.panel.panel-card .panel-heading {
	  position: relative;
	  z-index: 1;
	  height: 120px;
	  border-bottom-color: #fff;
	  overflow: hidden;
	
	  -webkit-transition: height 600ms ease-in-out;
	          transition: height 600ms ease-in-out;
	}
	.panel.panel-card .panel-heading img {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  z-index: 1;
	  width: 120%;
	
	  -webkit-transform: translate3d(-50%,-50%,0);
	          transform: translate3d(-50%,-50%,0);
	}
	.panel.panel-card .panel-heading button {
	  position: absolute;
	  top: 10px;
	  right: 15px;
	  z-index: 3;
	}
	.panel.panel-card .panel-figure {
	  position: absolute;
	  top: auto;
	  left: 50%;
	  z-index: 3;
	  width: 70px;
	  height: 70px;
	  background-color: #fff;
	  border-radius: 50%;
	  opacity: 1;
	  -webkit-box-shadow: 0 0 0 3px #fff;
	          box-shadow: 0 0 0 3px #fff;
	
	  -webkit-transform: translate3d(-50%,-50%,0);
	          transform: translate3d(-50%,-50%,0);
	
	  -webkit-transition: opacity 400ms ease-in-out;
	          transition: opacity 400ms ease-in-out;
	}
	
	.panel.panel-card .panel-body {
	  padding-top: 40px;
	  padding-bottom: 20px;
	
	  -webkit-transition: padding 400ms ease-in-out;
	          transition: padding 400ms ease-in-out;
	} 
	
	.panel.panel-card .panel-thumbnails {
	  padding: 0 15px 20px;
	}
	.panel-thumbnails .thumbnail {
	  width: 60px;
	  max-width: 100%;
	  margin: 0 auto;
	  background-color: #fff;
	} 
	
	
	.panel.panel-card:hover .panel-heading {
	  height: 55px;
	  cursor: pointer;
	  -webkit-transition: height 400ms ease-in-out;
	          transition: height 400ms ease-in-out;
	}
	.panel.panel-card:hover .panel-figure {
	  opacity: 0;
	
	  -webkit-transition: opacity 400ms ease-in-out;
	          transition: opacity 400ms ease-in-out;
	}
	.panel.panel-card:hover .panel-body {
	  padding-top: 20px;
	  cursor: pointer;
	  -webkit-transition: padding 400ms ease-in-out;
	          transition: padding 400ms ease-in-out;
	}
	/*
	*
	*/
	/* Note: Try to remove the following lines to see the effect of CSS positioning */
	.affix {
	  top: 0;
	  width: 100%;
	}
	
	.affix + .container-fluid {
	  padding-top: 70px;
	}