{{define "scripts_pages"}}
<script src="../../Recursos/Local/Pagos/js/pagos.js"></script>
{{end}} 

{{define "content_body"}}
<div class="container">
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#almacen" data-toggle="tab">ACL Almacen-Almacen</a></li>
        <li><a href="#usuario" data-toggle="tab">ACL Usuario-Almacen</a></li>
        <li><a href="#cliente" data-toggle="tab">ACL Usuario-Cliente</a></li>
</ul>
<div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="almacen">
            <h1>ACL Almacen-Almacen</h1>
			<div class="col-lg-6">
	            <div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Origen</div>
				  <div class="panel-body">
				    <p>Seleccione un almacen</p>
				  </div>
				
				  <!-- Lista almacenes -->
				  <div class="list-group">
					{{range .almacenes}}
				  	<button type="button" class="list-group-item">{{.Nombre}}</button>
					{{end}}
				  </div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Destino</div>
				  <div class="panel-body">
				    <p>Seleccione almacenes</p>
				  </div>
				
				  <!-- Lista almacenes -->
				  <ul class="list-group">
					{{range .almacenes}}
				  	<li class="list-group-item">
					<label class="checkbox-inline">
				      <input type="checkbox" value="">{{.Nombre}}
				    </label>					
					</li>
					{{end}}
				  </ul>
				</div>
			</div>
        </div>
		
		<div class="tab-pane" id="usuario">
            <h1>ACL Usuario-Almacen</h1>
            <div class="col-lg-6">
	            <div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Origen</div>
				  <div class="panel-body">
				    <p>Seleccione un almacen</p>
				  </div>
				
				  <!-- Lista almacenes -->
				  <div class="list-group">
					{{range .clientes}}
				  	<button type="button" class="list-group-item">{{.Nombre}}</button>
					{{end}}
				  </div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Destino</div>
				  <div class="panel-body">
				    <p>Seleccione almacenes</p>
				  </div>
				
				  <!-- Lista almacenes -->
				  <!-- Lista almacenes -->
				  <ul class="list-group">
					{{range .almacenes}}
				  	<li class="list-group-item">
					<label class="checkbox-inline">
				      <input type="checkbox" value="">{{.Nombre}}
				    </label>					
					</li>
					{{end}}
				  </ul>
				</div>
			</div>
        </div>
		
		<div class="tab-pane" id="cliente">
            <h1>ACL Usuario-Cliente</h1>
            <div class="col-lg-6">
	            <div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Origen</div>
				  <div class="panel-body">
				    <p>Seleccione un almacen</p>
				  </div>
				
				  <!-- Lista almacenes -->
				  <div class="list-group">
					{{range .clientes}}
					{{if .Nombre}}
				  	<button type="button" class="list-group-item">{{.Nombre}}</button>
					{{end}}
					{{end}}
				  </div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Destino</div>
				  <div class="panel-body">
				    <p>Seleccione almacenes</p>
				  </div>
				
				  <!-- Lista almacenes -->
				  <!-- Lista almacenes -->
				  <ul class="list-group">
					{{range .almacenes}}
				  	<li class="list-group-item">
					<label class="checkbox-inline">
				      <input type="checkbox" value="">{{.Nombre}}
				    </label>					
					</li>
					{{end}}
				  </ul>
				</div>
			</div>
        </div>
</div>
</div>
<!--
<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
	<div class="container">
		<div class="page-header">
			<h1>Lista de control de acceso : </h1>
		</div>
		<div class="row">
			<form id="miformulariopagos">
				<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
					<div class="input-group input-group-md">
						<span class="input-group-addon">Elige forma de pago:</span>
						<select id="s_forma_pago" onchange="GetForma();" name="s_forma_pago" class="form-control">
                            <option selected="" value="Seleccione forma de pago..">Seleccione forma de pago..</option>
							{{range .}}
                            <option value="{{.Id.Hex}}">{{.Nombre}}</option>
							{{end}}
                        </select>
					
						<div id="contenedor1">
						
						</div>
					</div>

					<hr>
                    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                        <input type="button" value="Add forma de pago" id="nueva_forma" class="btn btn-default">
						
						<div id="contenedor2">
						</div>

						<div id="contenedor3">
						</div>

					</div>
				</div>
			</form>
		</div>
	</div>
</div>
-->
{{end}}