{{define "content_body"}}
<div class="col-md-3 div_izquierdo"></div>
<div class="col-md-7 div_general">
      <div class="page-header">
        <h1> Alta De Artículos</h1>
      </div>

  <form action="/InsertaArticulo" class="form-inline" id="Myform" method="POST">
    <fieldset>
      <div class="row text-center well">
          <div class="input-group input-group-md">
           <div class="input-group">
            <label for="codigobarra" class="input-group-addon"><span>Código*:</span></label>
            <input type="text" class="form-control" id="codigobarra" name="codigo" placeholder="Código" required>
            <a onclick="GeneraCodigo()" class="btn btn-info btn-lg input-group-addon" style="background-color: #337ab7;color: white;border-bottom-color: #337AB6;">
              <span class="glyphicon glyphicon-barcode"></span> Generar
            </a>
          </div>
        </div>
          <div id="error_codigo" class="help-block with-errors"></div>
      </div>

    <div class="row well">
      <div class="col-md-4 col-sm-12 text-center">
            <div class="col-md-6">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                  <input type="radio" id="radioFisico" value="fisico" name="tipos" class="custom-control-input" checked>
                  Físico*
                </label>
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                  <input type="radio" id="radioLogico" value="logico" name="tipos" class="custom-control-input">
                  Lógico*
                </label>
            </div>

            <div class="col-md-6">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                  <input type="checkbox" id="radioKit" value="kit" name="kit" class="custom-control-input">
                  Kit
                </label>
            </div>

      </div>

      <div class="col-md-4 col-sm-12 text-center">
        <div class="input-group input-group-md">
          <label for="id_unidades" class="input-group-addon"><span>Unidad*:</span></label>
          <select id="id_unidades" name="unidades" class="form-control" required>
                        {{.unidades}}}
          </select>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 text-center">
        <div class="input-group input-group-md">
          <label for="id_estatus" class="input-group-addon"><span>Estatus*:</span></label>
          <select class="form-control" id="id_estatus" name="estatus" required>
                  {{.estatus}}
              </select>
        </div>
      </div>

    </div>

  <div id="id_venta_fisico" class="row well text-center">
      <div class="col-lg-6 col-md-12">
            <label>
             <input type="checkbox" id="id_venta_fraccionaria" name="fraccion" value="fraccion">
             Para venta Fraccionaria
           </label>
      </div>

  <div class="col-lg-6 col-md-12">
    <div class="input-group input-group-md">
      <label for="id_decimales" class="input-group-addon"><span>Decimales:</span></label>
      <select class="form-control" id="id_decimales" name="decimales">
              <option value="">--SELECCIONE--</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
    </div>
  </div>

</div>
<!-- /----------------------------------------------------------------------------------------------------------------------/ -->

<div class="row well">
  <div class="col-md-6">
    <div class="col-md-12 well">
      <span><h4>Descripción*:</h4></span>
      <div class="col-md-12">
        <textarea class="form-control" rows="4" id="id_descripcion" name="descripcion" placeholder="Descripción del producto..." style="width: 100%"></textarea>
      </div>
    </div>

  <div class="col-md-12 well text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      <span class="glyphicon glyphicon-plus"></span> Agregar Campos
    </button>

    <a onclick="MuestradivImagen()" class="btn btn-primary input-group">
      <span class="glyphicon glyphicon-plus"></span> Agregar Imagen
    </a>
  </div>

    <div class="col-md-12 well" id="div_tabla">
      <table class="table" name="tabla">
        <thead class="thead-inverse" name="cabecera">
          <tr>
            <th>Etiqueta</th>
            <th>Valor</th>
        </tr>
        </thead>
        <tbody id="tbody_tab_general" name="cuerpo">
        </tbody>
      </table>
    </div>
  </div>


<div class="col-md-6 ">
  <div class="col-md-12 input-group input-group-md well">
    <div class="input-group ">
      <label for="id_costo" class="input-group-addon"><span>Costo*:</span></label>
      <label for="id_costo" class="input-group-addon"><span class="glyphicon glyphicon glyphicon-usd"></span></label>
      <input type="text" class="form-control" id="id_costo" placeholder="Monto" name="costo">
      <label id="cosotss" for="id_costo" class="input-group-addon"></label>
    </div>
  </div>

  <div class="col-md-12 input-group input-group-md well">
    <div class="input-group ">
      <label for="id_precio" class="input-group-addon"><span>Precio*:</span></label>
      <label for="id_precio" class="input-group-addon"><span class="glyphicon glyphicon glyphicon-usd"></span></label>
      <input type="text" class="form-control" id="id_precio" placeholder="Monto" name="costo">
      <label id="precioss" for="id_precio" class="input-group-addon"></label>
    </div>
  </div>

  <div class="col-md-12 input-group input-group-md well">
    <div class="input-group ">
      <label for="id_cantidad" class="input-group-addon"><span>Cantidad*:</span></label>
      <label for="id_cantidad" class="input-group-addon"><span class="glyphicon glyphicon-hand-right"></span></label>
      <input type="text" class="form-control" id="id_cantidad" placeholder="Cantidad" name="costo">
      <label id="cant" for="id_cantidad" class="input-group-addon"></label>
    </div>
  </div>
</div>
</div>


<div id="divimagen" class="row">
  <div class="col-md-12 well">
    <form enctype="multipart/form-data" id="modalform">
      <div class="form-group" style="width: 100%">
        <input id="id_imagesup" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="#" name="imagenes">
      </div>
   </form>
<div id="error_imagen" class="help-block with-errors"></div>
</div>
</div>


<!-- Modal -->
<div id="exampleModal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Campos Nuevos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12 well text-center">

          <div class="col-md-12">
            <table class="table" >
              <thead class="thead-inverse">
                <tr>
                  <th>Etiqueta</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody id="tbody_etiquetas" name="camposvalor">
              </tbody>
            </table>
          </div>

          <div id="contenedor">
            <div class="input-group input-group-md well">
              <input type="text" class="form-control" id="idecampo"  placeholder="Campo">
              <input type="text" class="form-control" id="idevalor"  placeholder="Valor">
              <label id="AgregaCampo" value="Agregar" class="btn btn-primary input-group-addon" style="background-color: #337ab7;color: white;border-bottom-color: #337AB6;"><span class="glyphicon glyphicon-plus"></span>Agregar</label>
</div>
</div>
<div id="error_campo_nuevo" class="help-block with-errors"></div>


</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelarAdd">Cancelar</button>
  <button type="button" class="btn btn-primary" data-dismiss="modal" id="guardar_attribs">Guardar Cambios</button>
</div>
</div>
</div>
</div>

<!-- /----------------------------------------------------------------------------------------------------------------------/ -->

<div class="col-md-12 text-right">
  <div id="error_submit" class="help-block with-errors"></div>
    <input type="reset" value="Cancelar" id="Cancelar" class="btn btn-default">
    <input type="submit" value="Registrar" id="Registrar" class="btn btn-primary">
</div>

<script>

            $(document).ready(function () {

                    //Oculta divs
                    $('#divimagen').hide();
                    $('#id_decimales').prop('disabled', 'disabled');


                    //Si cambia el radio físico muestra div anterior
                    $('#radioFisico').change(function () {
                      if ($(this).is(':checked')) {
                        $('#id_venta_fisico').show('fast');
                      } else {
                        $('#id_venta_fisico').hide('fast');
                      }
                    });


                    //si cambia a radio lógico debe ocultarse el div anterior
                    $('#radioLogico').change(function () {
                      $('#id_venta_fisico').hide('fast');
                    });

                    //al perder el foco el codigo se valida
                    $('#codigobarra').blur(function () {
                      var code = $('#codigobarra').val();
                      $.ajax({
                        url: '/ValidaCodigo',
                        type: 'POST',
                        dataType: 'html',
                        data: { code: code },
                        success: function (data, status) {
                          if (data != '') {
                            $('#error_codigo').append(data);
                            console.log(status);
                          } else {
                            console.log(status);
                          }
                        },
                      });
                    });

                    //al recibir el foco se debe vaciar el div de error
                    $('#codigobarra').focus(function () {
                      $('#error_codigo').empty();
                    });
                    $('#idecampo,#idevalor').focus(function () {
                      $('#error_campo_nuevo').empty();
                    });

                    //Si cambia la unidad cambia el label de Cantidad
                    $('#id_unidades').change(function () {
                      var unidad = $('#id_unidades').val();
                      if (unidad != 0) {
                        $('#cant').text(unidad + 's');
                      } else {
                        $('#cant').text('');
                      }
                    });

                    //validacion de combo venta fraccionaria
                    $('#id_venta_fraccionaria').change(function () {
                      if ($("#id_venta_fraccionaria").is(":checked")) {
                        $('#id_decimales').prop('disabled', false);
                        $('#id_decimales').val('');
                      } else {
                        $('#id_decimales').val('');
                        $('#id_decimales').prop('disabled', 'disabled');
                      }
                    });


                   var MaxInputs = 6; //Número Maximo de Campos
                    var AddButton = $("#AgregaCampo"); //ID del Botón Agregar
                    var CancelButton = $("#cancelarAdd");
                    var saveButton = $("#guardar_attribs")

                    $(AddButton).click(function () {
                      var x = document.getElementById("tbody_etiquetas").children.length;
                      var FieldCount = x + 1; //para el seguimiento de los campos
                      console.log(FieldCount);
                      $("#error_campo_nuevo").empty();

                      if (/^\s*$/.test($("#idecampo").val()) || /^\s*$/.test($("#idevalor").val())) {
                        $("#error_campo_nuevo").append("El nombre del campo o valor no puede estar vacío");
                      } else {
                        if ($("#div_tabla").children.length > 0) {

                        }
                        if (x < MaxInputs) {
                          $("#tbody_etiquetas").append(
                          '<tr>\n\
                            <td><input type="text" class="form-control" name="idecampo" value="' + $("#idecampo").val() + '" readonly></td>\n\
                            <td><input type="text" class="form-control" name="idevalor" value="' + $("#idevalor").val() + '" readonly></td>\n\
                            <td><button type="button" class="btn btn-danger deleteButton">\n\
                            <span class="glyphicon glyphicon-trash btn-xs"> </span></button></td>\n\
                         </tr>');


                          FieldCount++;
                          $("#idevalor").val('');
                          $("#idecampo").val('');
                        }
                      }
                    });

                    $(CancelButton).click(function () {
                      $("#tbody_etiquetas").empty();
                    });

                    $(saveButton).click(function () {
                      $("#tbody_tab_general").append($("#tbody_etiquetas")[0].children);
                    });


                    $(document).on('click', '.deleteButton', function () {
                      $(this).parent().parent().remove();
                    });



                    $('#Myform').bootstrapValidator({
                      feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                      },
                      fields: {
                        Descripción: {
                          selector: '#id_descripcion',
                          message: 'Descripción no válida.',
                          validators: {
                            notEmpty: {
                              message: 'La Descripción del Producto no puede estar vacía.'
                            },
                            stringLength: {
                              min: 5,
                              max: 200,
                              message: 'Debe introducir al menos 5 caracteres y a lo más 200.'
                            }
                          }
                        },
                        CodigoDeBarra: {
                          selector: '#codigobarra',
                          message: 'Código no válido.',
                          validators: {
                            notEmpty: {
                              message: 'El código no puede estar vacío.'
                            }
                          }
                        },
                        Costo: {
                          selector: '#id_costo, #id_precio, #id_cantidad',
                          validators: {
                            digits: {
                              message: 'Debe introducir un valor numérico.'
                            },
                            notEmpty: {
                              message: 'El Costo no puede estar vacío.'
                            }
                          }
                        },
                        unidades: {
                          validators: {
                            notEmpty: {
                              message: 'Debe seleccionar un valor.'
                            }
                          }
                        },
                        estatus: {
                          validators: {
                            notEmpty: {
                              message: 'Debe seleccionar un valor.'
                            }
                          }
                        }

                      }
                    });




                  });
                  ///////////////////////////////////////////////////////////////////////////////////            


                  // Imagenes
                  $("#id_imagesup").fileinput({
                    uploadUrl: "/assets/",
                    autoReplace: true,
                    maxFileCount: 3,
                    allowedFileExtensions: ["jpg", "png", "gif"]
                  });


                  function GeneraCodigo() {
                    $('#codigobarra').val('');
                    $.ajax({
                      url: '/GeneraCodigo',
                      type: 'POST',
                      dataType: 'html',
                      data: {},
                      success: function (data, status) {
                        if (data != '') {
                          $('#codigobarra').val(data);
                          $('#codigobarra').focus();
                          console.log(status);
                        } else {
                          console.log(status);
                        }
                      },
                    });
                  }

                  function MuestradivImagen() {
                    if ($('#divimagen').is(':visible')) {
                      $('#divimagen').hide();
                    } else {
                      $('#divimagen').show();
                    }
                  }




</script>


</fieldset>
</form>
</div>


{{end}}