{{define "scripts_pages"}}
<script type='text/javascript' src="../../../../Recursos/Global/Plugins/jquery/js/jquery-3.1.0.min.js"></script>
<script type='text/javascript' src="../../../../Recursos/Global/Plugins/bootstrap/js/bootstrap.min.js"></script>        
<script src="../../../../Recursos/Global/js/bootstrapValidator.js" type="text/javascript"></script>
<script src="../../../../Recursos/Local/Compras/articulos.js" type="text/javascript"></script>    

<!-- Jvascript -->
<script src="../../../../Recursos/Global/Plugins/imageFiler/js/jquery.filer.min.js" type="text/javascript"></script>
<script src="../../../../Recursos/Global/Plugins/imageFiler/js/custom.js" type="text/javascript"></script> 
<!-- checkbox-->
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{{end}}