{{define "footer_layout"}}
    
    <nav class="navbar navbar-default footer navbar-fixed-bottom">
    <div class="container">
        <p>&copy; Copyright 2017 kore.mx - Todos los derechos reservados.</p>
    </div>
    </nav>

{{end}}