{{define "scripts_pages"}}

<script src="../../Recursos/Local/Plantilla/js/dashboard.js" type="text/javascript"></script>
<!--<script src="../../Recursos/Local/Plantilla/js/jquery-1.12.4.js" type="text/javascript"></script>-->

{{end}}

{{define "styles_pages"}}


{{end}}

{{define "header_layout"}}

{{end}}
