{{define "scripts_pages"}}

<!-- <script src="../../Recursos/Local/Plantilla/js/dashboard.js" type="text/javascript"></script> -->
<!--<script src="../../Recursos/Local/Plantilla/js/jquery-1.12.4.js" type="text/javascript"></script>-->

{{end}}

{{define "styles_pages"}}


{{end}}

{{define "header_layout"}}
<header>
<nav class="navbar navbar-inverse" style="border-radius:0px; z-index: 5;" role="banner" data-spy="affix" data-offset-top="200">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">	 navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <label class="navbar-brand">MidERP Mini Super</label><a class="navbar-brand hidden-xs" target="_blank" href="https://www.facebook.com/KoreIngenieria/">|Facebook: KoreIngenieria</a>	          
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="primary">
          <a class="dropdown-toggle" data-toggle="dropdown" onclick="window.location.href = '/'"><span class="glyphicon glyphicon-th hidden-xs"></span><!-- <span class="visible-xs">Menu<span class="caret"></span>--></a>
		<!--
          <ul class="dropdown-menu">
			
            <li><a href="venta/new" id="menuventas">Ventas</a></li>
            <li><a href="#" id="menucompras">Compras</a></li>
            <li><a href="#" id="menuinventario">Inventario</a></li>			
          </ul>
		-->
        </li>
      </ul>
	<!--
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button> -->
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">          
          <span class="username username-hide-on-mobile glyphicon glyphicon-user"></span>&nbsp;<span id="username"></span></a>
          <ul class="dropdown-menu">
			<!-- <li><a href="#" onclick="usuarioDetalle()">Mi perfil</a></li> -->
			<li><a href="#" id="menuventas">Ventas</a></li>
            <li><a href="#" id="menucompras">Compras</a></li>            
			<li role="presentation" class="divider"></li>
			<li><a href="/indexarticulos" id="menuproductos">Productos</a></li>			
            <!-- <li><a href="/usuarios" id="">Usuarios</a></li>-->
			<li><a href="/client" id="">Clientes</a></li>
			<li><a href="/proveedores" id="">Proveedores</a></li>
            <!-- <li><a href="#" id="menudescuentos">Descuentos</a></li> -->
            <li role="presentation" class="divider"></li>
			<!-- <li><a href="/almacenes">Almacenes</a></li> -->
			<!-- <li><a href="/formadepago">Formas de pago</a></li> -->
			<li role="presentation" class="divider"></li>
            <!-- <li><a href="#" id="menufacturacion">Facturación</a></li> -->
			<li><a href="#" id="menuinventario">Inventario</a></li>
            <li><a href="#" id="menuadministracion">Administración</a></li>		
          </ul>
        </li>        
        <li><a href="#" id="logout"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
      </ul>	  
    </nav>
  </div>
</nav>
</header>


{{end}}
