{{define "content_body"}}
  <style>
  body{
    
    background: url('http://www.centrofacturador.com.mx/images/facturacion%20electronica.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  </style>
	<div class="container" style="margin-top: 2%;">
     <div class="row">
          <div class="col-lg-4 col-sm-4">
          <form method="post" id="form_registro" name ="form_registro" action="/login"> 
          <fieldset>
            <div class="panel panel-primary">
            <div class="panel-heading" style="">Login</div>
            <div class="panel-body">
               <div class="form-group">
               <div class="row colbox">
               <div class="col-lg-12 col-sm-8">
                    <input class="form-control" autofocus="autofocus" id="txt_username" name="txt_username" placeholder="usuario" type="text" value="" />
                    <span class="text-danger small"></span>
               </div>
               </div>
               </div>
               
               <div class="form-group">
               <div class="row colbox">
               <div class="col-lg-12 col-sm-8">
                    <input class="form-control" id="txt_password" name="txt_password" placeholder="contraseña" type="password" value="" />
                    <span class="text-danger small"></span>
               </div>
               </div>
               </div>
               <div>
                 <div class="alert alert-warning" role="alert"><a href="/passwordrecovery" id="forget-password" class="forget-password">¿Olvidaste tu contraseña?</a></div>
               </div>
               <div class="form-group">
               <div class="col-lg-12 col-sm-12 text-center">
                    <input id="btn_login" name="btn_login" style="" type="submit" class="btn btn-info btn-lg" value="Iniciar Sesión" />
               </div>
               </div>
			
               <!---->
                <div class="row">
                    <div class="col-lg-12 col-sm-12 text-center">
                        <img src="https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/14720366_1689490214702061_9205693350358226522_n.png?oh=0dc4690c32ac2db5d5ee8d476b8ea364&oe=58E49698" alt="Koreing" href="https://www.facebook.com/KoreIngenieria/" style="max-height: 275px; max-width: 275px;" width="50%" height="50%"/> 
                    </div>                      
                </div>                
               <!---->
               
            </div>
            </div>
            </div>
          </fieldset>
          </form>
          </div>
     </div>
{{end}}