{{define "recovery_layout"}}
<!DOCTYPE html>

<html lang="es">
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Login</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="../Recursos/Global/Plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../Recursos/Global/Plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../Recursos/Global/Plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../Recursos/Global/Plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="../Recursos/Global/Plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="../Recursos/Global/Plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="../Recursos/Global/Plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="../Recursos/Global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../Recursos/Global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="../Recursos/Global/css/login.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->



		<!-- BEGIN CORE PLUGINS -->
        <script src="../Recursos/Global/Plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../Recursos/Global/Plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../Recursos/Global/Plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../Recursos/Global/Plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="../Recursos/Global/Plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../Recursos/Global/Plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../Recursos/Global/Plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="../Recursos/Global/Plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../Recursos/Global/Plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="../Recursos/Global/Plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
        <script src="../Recursos/Global/Plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="../Recursos/Global/scripts/app.min.js" type="text/javascript"></script>
        <script src="../assets/global/scripts/jquery.validate.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../Recursos/Global/scripts/login.min.js" type="text/javascript"></script>
        <script src="../Recursos/Global/scripts/forms.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->
		
		<script src="../Recursos/Global/js/login.face.js" type="text/javascript"></script>

        <link rel="shortcut icon" href="favicon.ico" />
      </head>
    <!-- END HEAD -->

    <body class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="/">
                <img src="../assets/layouts/layout2/img/Koreb-n2.png" alt="Logo Kore" style="max-height: 150px; max-width: 150px;"/> </a>
        </div>

        <div class="content">
            <form class="login-form" action="/passwordrecovery" method="post">
                <h3 class="form-title font-green">Recuperaci&oacute;n de contrase&ntilde;a</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span>{{.}} </span>
                </div>

                <div class="form-group form-md-line-input has-info">
                  <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                      </span>
                      <input type="text" class="form-control" id="email" placeholder="Email" required>
                      <label for="form_control_1"></label>
                  </div>
                </div>
                {{.}}
                <div class="form-group form-md-line-input has-info">
                  <div class="input-group">
                    <button id="go-back" type="button" class="btn green mt-ladda-btn ladda-button btn-circle btn-outline" data-style="slide-right" data-spinner-color="#333">
                      <span class="ladda-label">
                      <i class="icon-login"></i> Regresar</span>
                    </button>
                    <button type="button" class="btn green" id="validate-email" vb >Enviar</button>
                  </div>
                </div>

            </form>
        </div>
        <div class="copyright"> 2016 Koreingenieria. Todos los derechos reservados. </div>

    </body>

</html>
{{end}}
