{{define "index_layout"}}

<!-- INICIO PAGINA -->
<!DOCTYPE html>

<html lang="es">

<!-- INICIO CABECERA -->

<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content ="IE=edge">
		<link rel="icon" type="image/png" sizes="96x96" href="../Recursos/Local/Plantilla/Imagenes/K.ico">
		
		

        <title>Bienvenido | Mini Super</title>

		{{template "styles_layout"}}
        {{template "styles_pages"}}
        
		{{template "scripts_layout"}}
		{{template "scripts_pages"}}
</head>
<!-- FINAL CABECERA -->

<!-- INICIO CUERPO -->
<body>
	
	{{template "header_layout" }}


	{{template "content_body" .}}


	


</body>

<footer>
	{{template "footer_layout"}}
</footer>

<!-- FIN CUERPO -->



<!-- FIN PAGINA -->
</html>

{{end}}