{{define "login_layout"}}

<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta http-equiv="X-UA-Compatible" content ="IE=edge">
		<link rel="icon" type="image/png" sizes="96x96" href="../Recursos/Local/Plantilla/Imagenes/K.ico">
		
		<link href="../Recursos/Global/Plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="../Recursos/Global/Plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <title>Login | Mini Super</title>

        
    </head>

	<body>
		{{template "content_body" .}}
	</body>	
	<!--{{template "footer_layout"}}-->
</html>


{{end}}