{{define "content_body"}}
<div>
  <h2><center>Artículos</center></h2>
</div>
<div class="row" style="padding-bottom: 100px">
    <!-- /----------------------------------------------------------------------------------------------------------------------/ -->


          <form class="form-inline" id="FormBusqueda" >
            <fieldset>
              <div id="id_busqueda" class="row well text-center">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar" id="id_Buscar" name="Buscar">
                  </div>
                  <button id="buscarproducto" type="button" class="btn btn-success" onclick="BuscaArticulos(true)">Buscar</button>				
			<div class="btn-group">
			      <a id="altaarticulos" class="btn btn-primary" href="/articulos" data-toggle="modal">Nuevo Artículo*</a>	    
			</div>				
              </div>
          </fieldset>
          </form>


<!-- /----------------------------------------------------------------------------------------------------------------------/ -->
	      <div class="col-md-12">

                  <div class="row text-center">
                    <div id="id_mensaje" class="responsive col-md-12"></div>
                      <div id="id_elemento" class="responsive col-md-12"></div>
                    <div class="col-md-12 text-center">
                        <div id="pagination-ventas" class="search-pagination col-md-12"></div>
                    </div>
                  </div>

	      </div>
</div>
{{end}}