{{define "content_body"}}
<div class="col-md-3 div_izquierdo"></div>
<div class="col-md-7 div_general">
      <div class="page-header">
        <h1>Alta de artículo</h1>
      </div>

  <form action="/InsertaArticulo_frame" enctype="multipart/form-data" class="form-inline" id="Myform" method="POST">
    <fieldset>
      <div class="row text-center well">
          <div class="input-group input-group-md">
           <div class="input-group">
            <label for="codigobarra" class="input-group-addon"><span>Código*:</span></label>
            <input type="text" class="form-control" id="codigobarra" name="codigobarra" placeholder="Código">
            <a onclick="GeneraCodigo()" class="btn btn-info btn-lg input-group-addon" style="background-color: #337ab7;color: white;border-bottom-color: #337AB6;">
              <span class="glyphicon glyphicon-barcode"></span> Generar
            </a>
          </div>
        </div>
          <div id="error_codigo" class="help-block with-errors"></div>
      </div>

    <div class="row well">
      <div class="col-md-4 col-sm-12 text-center">
            <div class="col-md-12 form-group has-error has-danger">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0" data-toggle="tooltip" data-placement="top" title="Es un producto Físico!">
                  <input type="radio" id="radioFisico" value="fisico" name="tipos" class="custom-control-input" checked>
                  Físico*
                </label>
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0" data-toggle="tooltip" data-placement="top" title="Es un producto Lógico!">
                  <input type="radio" id="radioLogico" value="logico" name="tipos" class="custom-control-input">
                  Lógico*
                </label>
            </div>
      </div>
      <div class="col-md-2 col-sm-12 text-center form-group">
            <label>
              <input type="checkbox" id="id_venta_fraccionaria" name="fraccion" value="fraccion">
              Venta en Decimales
           </label>
      </div>



      <div class="col-md-6 col-sm-12 text-center form-group">
        <div class="input-group input-group-md">
          <label for="id_unidades" class="input-group-addon"><span>Unidad*:</span></label>
          <select id="id_unidades" name="unidades" class="form-control" required>
                        {{.unidades}}
          </select>          
        </div>
        <label data-toggle="tooltip" data-placement="top" title="Añadir Unidad">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAltaUnidad" onclick="resetFormularioUnidad()">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
          </label>
      </div>

    </div>
<!-- /----------------------------------------------------------------------------------------------------------------------/ -->

<div class="row well">

  <div class="col-md-6 col-sm-12">

    <div class="col-md-12 col-sm-12 well">
      <span><h4>Descripción*:</h4></span>
      <div class="col-md-12 col-sm-12 form-group">
        <textarea class="form-control" rows="4" id="id_descripcion" name="descripcion" placeholder="Descripción del producto..." 
        style="width: 100%" data-toggle="tooltip" data-placement="top" title="Realiza una descripción de este producto"></textarea>
      </div>
    </div>

  <div class="col-md-12 col-sm-12 well text-center">
    <label data-toggle="tooltip" data-placement="top" title="Agrega mas caracteristicas a este prodcuto">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        <span class="glyphicon glyphicon-plus"></span> Agregar Campos
      </button>
    </label>

    <a onclick="MuestradivImagen()" class="btn btn-primary input-group" data-toggle="tooltip" data-placement="top" title="Agrega imagenes de este prodcuto">
      <span class="glyphicon glyphicon-plus"></span> Agregar Imagen
    </a>
  </div>

    <div class="col-md-12 col-sm-12 well text-center" id="div_tabla">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Etiqueta</th>
            <th>Valor</th>
        </tr>
        </thead>
        <tbody id="tbody_tab_general">
        </tbody>
      </table>
    </div>
  </div>


<div class="col-md-6 col-sm-12 text-center">
  <div class="col-md-12 col-sm-12 input-group input-group-md form-group well">
    <div class="input-group ">
      <label for="id_costo" class="input-group-addon"><span>Costo*:</span></label>
      <label for="id_costo" class="input-group-addon"><span class="glyphicon glyphicon glyphicon-usd"></span></label>
      <input type="text" class="form-control" id="id_costo" placeholder="Monto" name="costo" data-toggle="tooltip" data-placement="top" title="Precio de compra">
      <label id="cosotss" for="id_costo" class="input-group-addon"></label>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 input-group input-group-md well">
    <div class="form-group">
      <div class="input-group ">
        <label for="id_precio" class="input-group-addon"><span>Precio*:</span></label>
        <label for="id_precio" class="input-group-addon"><span class="glyphicon glyphicon glyphicon-usd"></span></label>
        <input type="text" class="form-control" id="id_precio" placeholder="Monto" name="precio" data-toggle="tooltip" data-placement="top" title="Precio de venta">
        <label id="precioss" for="id_precio" class="input-group-addon"></label>
      </div>      
  </div>
  <div id="error_precio" class="help-block with-errors"></div>
  </div>
</div>
</div>


<div id="divimagen" class="row text-center">
  <div class="col-md-12 well">
	    <input type="file" name="imagen" id="filer_input" multiple="multiple">
	    <!-- <input type="submit" value="Submit"> -->
	
<div id="error_imagen" class="help-block with-errors"></div>
</div>
</div>


<!-- Modal -->
<div id="exampleModal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Campos Nuevos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12 well text-center">

          <div class="col-md-12">
            <table class="table">
              <thead class="thead-inverse">
                <tr>
                  <th>Etiqueta</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody id="tbody_etiquetas">
              </tbody>
            </table>
          </div>

          <div id="contenedor">
            <div class="input-group input-group-md well">
              <input type="text" class="form-control" id="idecampo" name="idecampo" placeholder="Campo">
              <input type="text" class="form-control" id="idevalor" name="idevalor" placeholder="Valor">
              <label id="AgregaCampo" value="Agregar" class="btn btn-primary input-group-addon" style="background-color: #337ab7;color: white;border-bottom-color: #337AB6;"><span class="glyphicon glyphicon-plus"></span>Agregar</label>
</div>
</div>
<div id="error_campo_nuevo" class="help-block with-errors"></div>

</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" data-dismiss="modal" id="cancelarAdd">Cancelar</button>
  <button type="button" class="btn btn-primary" data-dismiss="modal" id="guardar_attribs">Guardar Cambios</button>
</div>
</div>
</div>
</div>

<!-- /----------------------------------------------------------------------------------------------------------------------/ -->

<div class="col-md-12 text-right" style="padding-bottom: 100px">
  <div id="error_submit" class="help-block with-errors"></div>	
	    <input type="reset" value="Cancelar" id="Cancelar" onclick="window.location.replace('/indexarticulos_frame')" class="btn btn-warning">
	<input type="submit" value="Registrar" id="Registrar" class="btn btn-primary">
</div>
</fieldset>
</form>
<!-- /-----------------Boton de modal oculto---------------------------------------------------------/ -->
<div class="col-md-12 well text-center" style="display:none;">
  <button type="button" class="btn btn-primary" id="btnmodalUnidad" data-toggle="modal" data-target="#modalAltaUnidad"> Alta Unidad </button>
</div>
<!-- /----------------------------------------------------------------------------------------------------------------------/ -->

<!-- Modal Nueva Unidad -->
<div id="modalAltaUnidad" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Nueva Unidad de Medida</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">

          <div>
            <div class="form-group">
              <div class="text-center col-md-12 well">
                Tipo:
                <input type="text" class="form-control" id="id_tipo_unidad" name="nom_tipo_unidad" placeholder="Tipo Unidad">
              </div>
              <small class="help-block" id="error_tipo_unidad"></small> 
            </div>
          </div>

          <div>
            <div class="form-group">
              <div class="text-center col-md-12 well">
                Nombre:
                <input type="text" class="form-control" id="id_nombre_unidad" name="nom_unidad" placeholder="Nombre Unidad">
              </div>
              <small class="help-block" id="error_nom_unidad"></small> 
            </div>
          </div>

          <div>
            <div class="form-group">
              <div class="text-center col-md-12 well">
                Abreviación:
                <input type="text" class="form-control" id="id_abrv_unidad" name="nom_abrv_unidad" placeholder="Abreviación Unidad">
              </div>
              <small class="help-block" id="error_abrv_unidad"></small> 
            </div>
          </div>

      </div>
    </div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" data-dismiss="modal" id="cancelarAdd_Unidad">Cancelar</button>
  <button type="button" class="btn btn-primary" onclick="guardarUnidad()" id="guardarUnidad">Guardar Cambios</button>
</div>
</div>
</div>
</div>
<!-- /----------------------------------------------------------------------------------------------------------------------/ -->
</div>

{{end}}