{{define "styles_pages"}}
        <link href="../../../../Recursos/Global/Plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../../../../Recursos/Global/css/bootstrapValidator.min.css" rel="stylesheet" type="text/css">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">	
		<!-- Styles -->
		<link href="../../../../Recursos/Global/Plugins/imageFiler/css/jquery.filer.css" rel="stylesheet">
{{end}}