{{define "scripts_pages"}}
<script src="../../Recursos/Local/Impuestos/js/impuestos.js"></script>
{{end}} 

{{define "styles_pages"}}
<link href="../../Recursos/Local/Impuestos/Css/impuestos.css" rel="stylesheet" type="text/css">
{{end}}

{{define "content_body"}}
<div class="container">
	<div class="page-header">
		<h1>Creación de Impuestos : </h1>
	</div>
	<div class="row">
		<form id="miformularioimpuesto">				
			<div class="input-group input-group-md">
			<span class="input-group-addon">Elige Impuesto:</span>
			<select onchange="GetImpuesto();" name="s_impuesto" id="s_impuesto" class="selectpicker form-control">
                <option selected="" value="Seleccione Impuesto..">Seleccione Impuesto..</option>
				{{range .}}
                <option value="{{.Id.Hex}}">{{.Grupo}}</option>
				{{end}}
            </select>
            <span class="input-group-addon">
            	<input type="button" class="btn btn-md btn-success" onClick="Agregarmeta();" value=" + Meta-Impuesto" name="agregarmeta_" id="agregarmeta_">
            </span>
            <span class="input-group-addon">
            	<input type="button" class="btn btn-md btn-danger" onClick="EliminarMeta();" value=" - Eliminar Meta-Impuesto" name="eliminar_meta" id="eliminar_meta">
            </span>
			</div>
			<div id="contenedor1"></div>
			<div id="contenedorguardar"></div>				
		</form>
	</div>
</div>

<br>
<div class="container">
	<div class="row">
		<div id="contenedornewmeta"></div>
	</div>
</div>

<div class="clearfix"></div>
<br>
<br>
{{end}}

