{{define "content_body"}}

<div>
  <h3>Detalle de ventas</h3>
</div>

<div class="row" style="padding-bottom: 100px">

<form action="#" class="form-inline" id="Myform" method="POST">
  <fieldset>
    <input type="hidden" value="{{.move}}" name="id" id="id_movimiento_edit">
    <!-- /----------------------------------------------------------------------------------------------------------------------/ -->

    <div class="col-md-12 responsive">
      <table class="table table-hover table-sm"  id="TablaCompra">
        <thead class="thead-inverse">
          <tr>
            <th>Imagen</th>
            <th>Descripción</th>
            <th>$ Costo</th>
            <th>$ Cantidad</th>
            <th>$ Unidad</th>
            <th>$ Impuesto</th>
            <th>% Ganancia</th>
            <th>$ Precio</th>
            <th>$ Importe</th>
            <!--<th>Eliminar</th>-->
          </tr>
        </thead>
        <tbody id="tbody_compras">
          {{.productos}}
        </tbody>
      </table>
    </div>


    <div class="col-md-12 well text-center" style="display:none;">
      <button type="button" class="btn btn-primary" id="btnmodal" data-toggle="modal" data-target="#modalEdit">
            <span class="glyphicon glyphicon-plus"></span> Muestra edit
      </button>
      <button type="button" class="btn btn-primary" id="btnmodalAlta" data-toggle="modal" data-target="#modalAlta">
            <span class="glyphicon glyphicon-plus"></span> Muestra Alta
      </button>
      <button type="button" class="btn btn-primary" id="btnmodalBusqueda" data-toggle="modal" data-target="#modalBusqueda">
            <span class="glyphicon glyphicon-plus"></span> Muestra Busqueda
      </button>
    </div>

<!-- /----------------------------------------------------------------------------------------------------------------------/ -->

    <div class="col-md-12 text-right">
      <div id="error_submit" class="help-block with-errors"></div>
      <input type="reset" value="Regresar a ventas" id="Cancelar" class="btn btn-primary" onclick="window.location.replace('/indexventas_frame')">
      <!--<input type="reset" value="Eliminar Movimiento" id="Eliminar" class="btn btn-danger" onclick="BorrarMovimiento()">-->
      <!--<input type="submit" value="Guardar Cambios" id="Registrar" class="btn btn-primary">-->
    </div>



</fieldset>
</form>

</div>

{{end}}