{{define "scripts_pages"}}

<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-collapse.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-modal.js"></script>
<script src="../../Recursos/Local/Usuarios/js/privateUsr.js"></script>
{{end}} 

{{define "styles_pages"}}

{{end}} 

{{define "content_body"}}
{{end}}