{{define "scripts_pages"}}

{{end}}
{{define "styles_pages"}}
{{end}}
{{define "content_body"}}
					<table class="table table-striped table-bordered table-hover order-column">
	                    <thead>
	                        <tr>
	                            <th>Nombre</th>
	                            <th> User name </th>
	                            <th> Email </th>
	                            
								<th></th>
	                        </tr>
	                    </thead>
	                    <tbody>
						{{range .}}
	                        <tr class="odd gradeX">
	                            
	                            <td> {{.Name}} </td>
	                            <td>
	                                {{.Username}}
	                            </td>
	                            <td>
	                                {{.Email}}
	                            </td>
	                            <td>
	                                <span class="label label-sm label-success"> Approved </span>
	                            </td>
								<td>
									<a href="#">View</a>
									<a href="/users/edit/{{.Id.Hex}}">Editar</a>
									<a href="/users/delete/{{.Id.Hex}}">Eliminar</a>
								</td>
	                        </tr>
						{{end}}
	                    </tbody>
	                </table>


{{end}}


