{{define "scripts_pages"}}
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-modal.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="../../Recursos/Local/Ventas/js/ventas.js"></script>
<script src="../../Recursos/Local/Ventas/js/search-venta.js"></script>
<script src="../../Recursos/Local/Ventas/js/pago-venta.js"></script>

{{end}} {{define "styles_pages"}}
<link rel="stylesheet" href="../../Recursos/Global/Plugins/bootstrap-select/dist/css/bootstrap-select.min.css" type="text/css"></link>
<link rel="stylesheet" href="../../Recursos/Local/Ventas/css/layout.css" type="text/css"></link>
{{end}} {{define "content_body"}}
<div class="container-fluid">
	<hgroup>
		<h1>Sitio en construcci&oacute;n</h1>
		<h3>Disfrute u minuto de relajaci&oacute;n</h3>
	</hgroup>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="854" height="480" src="https://www.youtube.com/embed/YoDh_gHDvkk" frameborder="0" allowfullscreen></iframe>
	</div>

</div>





{{end}}