{{define "scripts_pages"}}
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-modal.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="../../Recursos/Local/Ventas/js/ventas.js"></script>
<script src="../../Recursos/Local/Ventas/js/search-venta.js"></script>
<script src="../../Recursos/Local/Ventas/js/pago-venta.js"></script>
<script src="../../Recursos/Global/Plugins/jsPDF-master/dist/jspdf.debug.js"></script>

{{end}} {{define "styles_pages"}}
<link rel="stylesheet" href="../../Recursos/Global/Plugins/bootstrap-select/dist/css/bootstrap-select.min.css" type="text/css">
<link rel="stylesheet" href="../../Recursos/Local/Ventas/css/layout.css" type="text/css"> {{end}} {{define "content_body"}}
<div class="container-fluid">
	<!--    <form>-->
	<fieldset>
		<div class="col-md-4 col-sm-12 col-lg-4">
			<fieldset class="contorno-borde">
				<legend class="contorno-borde">Buscar Cliente</legend>
				<label for="buscarCliente" class="">Cliente o RFC</label>
				<input type="text" placeholder="Cliente o RFC" name="buscarCliente" id="buscarCliente">
			</fieldset>
		</div>
		<div class="clearfix">
		</div>
	</fieldset>

	<fieldset class="contorno-borde">
		<legend class="contorno-borde">Detalle de Venta

		</legend>
		<div class="col-md-6 col-lg-6 input-group input-group-sm">
			<input id="scanner" name="scanner" class="form-control" type="text" placeholder="Id. Producto" data-toggle="tooltip" tittle="Clave producto.">
			<!--PARA DESACTIVAR MODAL CON ESC CAMBIAR keyboard A true-->
			<button type="button" id="buscar-click" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
				data-target=".bd-example-modal-lg">Buscar por texto</button>
		</div>

		<div class="clearfix"></div>

		<div class="panel panel-primary">
			<div class=" panel-heading visible-lg visible-md ">
				<div class="col-md-1 col-lg-1  ">Clave P.</div>
				<div class="col-md-4 col-lg-4 ">Descripci&oacute;n</div>
				<div class="col-md-1 col-lg-1  ">Cantidad</div>
				<div class="col-md-1 col-lg-1 ">Unidad</div>
				<div class="col-md-1 col-lg-1 ">Precio Lista</div>
				<div class="col-md-1 col-lg-1 ">Descuento</div>
				<div class="col-md-1 col-lg-1 ">Importe</div>
				<div class="clearfix"></div>
			</div>
			<form>
				<div class="panel-body">
					<div id="load-id-cotizacion">
						<input id="id_cotizacion_unico" type="hidden" value="">
					</div>
					<div class="articulos-lista" id="articulos-lista">
					</div>
				</div>

				<div class="clearfix"></div>
				<div class="col-md-10 col-lg-10">
					<div class="col-lg-8 col-md-8"></div>
					<div class="col-lg-4 col-md-4 text-right">
						<div class="btn-group" role="group" aria-label="Basic example">
							<button type="button" id="CancelarCotizacion" class="btn btn-default">Cancelar</button>
							<button type="button" id="GuardarCotizacion" class="btn btn-default">Guardar</button>
							<button id="pay-end-venta" type="button" class="btn btn-primary">Cobrar</button>
							<button id="pay-end-venta-modal" type="button" style="display: none;" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#myModal"></button>
							<button id="btnPagos" type="button" style="display: none;" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#modalimprime"></button>
							<button id="btnCliente" type="button" style="display: none;" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#modalcliente"></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</fieldset>
</div>

<!--BEGIN modal for searching-->
<div class="modal fade bd-example-modal-lg" id="modal-search" data-backdrop=”static” data-keyboard=”false” tabindex="-1"
	role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">

		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Buscar articulo</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
			</div>

			<div class="modal-body">
				<div class="form-inline">
					<div class="form-group col-md-9">
						<input id="scanner_search" name="scanner_search" type="text" class="form-control" style="width:100%">
					</div>
					<button id="search-mongo-venta" type="button" class="btn btn-default">Buscar</button>
					<!--					<input type="submit" value="Buscar">-->
				</div>
				<!--BEGIN search elastic-->

				<div style="margin-top:10px"></div>
				<div class="container-fluid" id="result-mongo-range-search">

					<!--<div class="row-fluid divider">
															<div class="span2 col-md-2">
																	<img src="../../Recursos/Local/Img/images.jpg" alt="Smiley face" style="width:100px">
															</div>
															<div class="span10 col-md-10">
																	<h4>Nombre del articulo</h4>
															<p>$50.00</p>
															<p>Esto solo es la descripcion del articulo</p>
															</div>
														<div class="divider"></div>
														</div>-->

				</div>
				<nav id="search-pagination" aria-label="Page navigation example" style="text-align: center;">
				</nav>
			</div>

			<div class="modal-footer">
				<button type="button" id="dismiss-empty" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<!--<button type="button" class="btn btn-primary">Send message</button>-->
			</div>
		</div>

<!--BEGIN Modal pagos -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Realizar Cobro</h4>
	      </div>
	      <div class="modal-body">

				<form>
				    <div class="row text-center well">
							<div class="col-md-2"></div>
								<div class="col-md-8 input-group input-group-lg">
										<label for="lgFormGroupInput" class="input-group-addon">Subtotal: </label>
										<label class="form-control" id="lgFormGroupInput2"></label>
								<!-- <input type="number"   placeholder="0" readonly> -->
								<input type="hidden" id="lgFormGroupInput" value="">
								</div>
							<div class="col-md-2"></div>
				    </div>

						<div class="row"></div>
						<div class="row text-center well">
							<div class="input-group input-group-lg col-md-12">
								<label for="lgFormGroupInput" class="input-group-addon">Formas de Pago:</label>
										<select id="forma-pago-s" class="selectpicker" multiple data-selected-text-format="count > 3">
								</select>
							</div>
						</div>

						<div class="row"></div>
						<div class="row well">
							<div id="formas-de-pago-all" class="col-md-6 formas-de-pago-all">
							</div>

							<div id="historial-pago" class="col-md-6">
								<div id="historial"></div>
								<div id="total-pago"></div>
								<div id="historial-resta"></div>
								<div id="faltante-cambio"></div>
							</div>
						</div>
					</form>

				</div>
				<div class="form-group text-center">
					<small class="help-block" id="error_pago"></small>
				</div>
				<div class="clearfix"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="cancelarModalCalculadora">Cancelar Venta</button>
					<div id="paraBoton"></div>
				</div>
			</div>
		</div>
	</div>
	<!--END modal pagos -->


	<!--BEGIN Modal imprime -->
	<div class="modal fade" id="modalimprime" data-toggle="modal" tabindex="-1" role="dialog" data-keyboard="false">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
					<h3 class="modal-title" id="myModalLabel">Imprimir Comprobante</h3>
				</div>
				<div class="modal-body">
					<form>
						<div class="row well text-center">
							<div class="col-md-12">
								<label class="form-control">Folio de Venta:</label>
								<label class="form-control" id="ident"></label>
								<input type="hidden" id="identhide" value="">
							</div>
						</div>

						<div class="row text-center">
							<div class="col-md-6">
								<button id="ticketventa" type="button" class="btn-lg btn-primary btn-block" style="width: 50% !important;height: 180px !important;position: relative;float: right;">
								<h1 style="color: white;">Ticket</h1>
								</button>
							</div>
							<div class="col-md-6">
								<button id="facturaventa" onclick="consultaCliente()" type="button" class="btn-lg btn-info btn-block" style="width: 50% !important;height: 180px !important;position: relative;float: left;">
								<h1 style="color: white;">Factura</h1>
								</button>
							</div>
						</div>

					</form>
				</div>
				<div class="clearfix"></div>
				<div class="modal-footer">
					<!--<button type="button" class="btn btn-default" data-dismiss="modal" id="cancelarModalFormasP">Cancelar Venta</button>-->
					<!--<button type="button" class="btn btn-primary">Cerrar Venta</button>-->
				</div>
			</div>
		</div>
	</div>


	<!--BEGIN Modal cliente -->
	<div class="modal fade" id="modalcliente" data-toggle="modal" tabindex="-1" role="dialog" data-keyboard="false">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
					<h3 class="modal-title" id="myModalLabel">Buscar Cliente</h3>
				</div>
				<div class="modal-body">
					<form id="formcliente">
						<div class="row well text-center">
							<div class="col-md-12">
								<label class="form-control">Folio de Venta:</label>
								<label class="form-control" id="identc"></label>
								<input type="hidden" id="identhidec" value="">
							</div>
						</div>

						<div class="row text-center">
							<label class="form-control text-center">Introduzca RFC o Nombre de Cliente:</label>
							<input id="refusuario" placeholder="Buscar Cliente" type="text" class="form-control" style="width:100%">
							<div id="error_buscar" class="help-block with-errors"></div>
						</div>



						<div id="tbody_modal_busqueda">
							<div id="id_respuesta" class="row well text-center">
								<div class="input-group">
									<label><span><h4>Cliente no encontrado, puede darlo de Alta y volver a buscar en esta pantalla.</h4></span></label><br>
								</div>
							</div>
							<div class="row text-center">
								<div class="col-md-2"></div>
								<div id="id_elemento" class="responsive col-md-8"></div>
								<div class="col-md-2"></div>
								<div class="col-md-12 text-center">
									<div class="col-md-2"></div>
									<div id="pagination-ventas" class="search-pagination col-md-8"></div>
									<div class="col-md-2"></div>
								</div>
							</div>
						</div>

								<div class="modal-footer">
									<!--//<button type="button" onclick="generaFactura()" class="btn btn-primary">Generar Factura</button>-->
								</div>
					</form>
				</div>
				<div class="clearfix"></div>
				<div class="modal-footer">
					<!--<button type="button" class="btn btn-default" data-dismiss="modal" id="cancelarModalFormasP">Cancelar Venta</button>-->
					<!--<button type="button" class="btn btn-primary">Cerrar Venta</button>-->
				</div>
			</div>
		</div>
	</div>

	<div id="impresion" class="panel panel-default" style="width:300px;">
		<div class="panel-heading">
			<h4>
				<h3>MidERPMiniSuper</h3>

			</h4>
		</div>
		<div class="panel-body">
			<label id="labelCot">
        	l1234567890123456789012345
        </label>
		</div>
	</div>
	{{end}}