{{define "content_body"}}
<div class="row">
	<div class="col-md-12">

                  <div class="row text-center">
                      <div id="id_elemento" class="responsive col-md-12"></div>
                    <div class="col-md-12 text-center">
                        <div id="pagination-ventas" class="search-pagination col-md-12"></div>
                    </div>
                  </div>

	</div>
	<div class="btn-group" style="position:relative; left:85%;">
		<a id="altacompras" class="btn btn-success" onClick="window.location.reload();" data-toggle="modal">Refrescar</a>
	</div>
	<!--<div class="btn-group" style="position:relative; left:85%;">
		<a id="altacompras" class="btn btn-primary" href="/compras" data-toggle="modal"> Alta De Compra</a>
	</div>-->

<script>
	$(document).ready(function () {		
		 window.onload = CargaTabla();
	});

            function CargaTabla() {
              $.ajax({
                url: '/CargaVentas',
                type: 'POST',
                dataType: 'json',
                data: {},
                success: function (data) {
                  if (data != '') {
                    if (data != null) {
                      $('#pagination-ventas').empty();
                      $('#id_elemento').empty();
                      var tabla = generarTabla(data)
                      $('#id_elemento').html(tabla);
                      console.log(data);
                    }
                      $.ajax({
                        url: '/paginacion_ventas',
                        type: 'POST',
                        dataType: 'html',
                        data: { getPage: 1 },
                        success: function (data) {
                          $('#pagination-ventas').html(data);
                        },
                      });
                  }else{
                    $('#error_carga').append(data);
                  }
                },
                error: function (xhr) {
                  console.log("error: " + xhr.status);
                  $('#pagination-ventas').empty();
                  $('#id_elemento').empty();
                }
              });
            }

            function getPagination(page) {
              $.ajax({
                url: '/nexpaginationV',
                type: 'POST',
                dataType: 'json',
                data: { num_page: page },
                success: function (data) {
                  var tabla = generarTabla(data);
                  $('#id_elemento').html(tabla);
                  $.ajax({
                    url: '/paginacion_ventas',
                    type: 'POST',
                    dataType: 'html',
                    data: { getPage: page },
                    success: function (data) {
                      $('#pagination-ventas').html(data);
                    },
                  });
                },
              });
            }

            function generarTabla(datos) {
              if (datos != null) {

                var tabla = document.createElement("table");
                tabla.id = "TablaIndex"
                var tblBody = document.createElement("tbody");
                var cabecera = document.createElement("thead");
                cabecera.className = "thead-inverse";
                var hilera = document.createElement("tr");

                // var celda = document.createElement("th");
                // celda.appendChild(document.createTextNode("ID"));
                // hilera.appendChild(celda);

                var celda = document.createElement("th");
                celda.appendChild(document.createTextNode("FECHA"));
                hilera.appendChild(celda);

                var celda = document.createElement("th");
                celda.appendChild(document.createTextNode("ALMACEN ORIGEN"));
                hilera.appendChild(celda);
                
                var celda = document.createElement("th");
                celda.appendChild(document.createTextNode("ALMACEN DESTINO"));
                hilera.appendChild(celda);
                
                var celda = document.createElement("th");
                celda.appendChild(document.createTextNode("USUARIO ORIGEN"));
                hilera.appendChild(celda);
                
                var celda = document.createElement("th");
                celda.appendChild(document.createTextNode("USUARIO DESTINO"));
                hilera.appendChild(celda);
                
                cabecera.appendChild(hilera);

                tabla.appendChild(cabecera);
                propiedades_hilera = new Array();

                for (var i = 0; i < datos.length; i++) {

                  var IDe = datos[i].ID;
                  var Fecha = datos[i].Date;
                  var d = new Date(Fecha);
                  var options = {
                      weekday: "long", year: "numeric", month: "short",
                      day: "numeric", hour: "2-digit", minute: "2-digit"
                  };
                  var AlmacenO = datos[i].AlmacenOrigen.Nombre;
                  var AlmacenD = datos[i].AlmacenDestino.Nombre;
                  var UsuarioO = datos[i].UsuarioOrigen.Nombre;
                  var UsuarioD = datos[i].UsuarioDestino.Nombre;

                  //Crea primer renglón
                  hilera = document.createElement("tr");

                  //ID
                  // var celda = document.createElement("td");
                  // celda.appendChild(document.createTextNode(IDe));
                  // hilera.appendChild(celda);

                  //Fecha
                  var celda = document.createElement("td");
                  celda.appendChild(document.createTextNode(d.toLocaleTimeString("es-MX", options)));
                  hilera.appendChild(celda);

                  //AlmacenO
                  var celda = document.createElement("td");
                  celda.appendChild(document.createTextNode(AlmacenO));
                  hilera.appendChild(celda);

                  //AlmacenD
                  var celda = document.createElement("td");
                  celda.appendChild(document.createTextNode(AlmacenD));
                  hilera.appendChild(celda);

                  //UsuarioO
                  var celda = document.createElement("td");
                  celda.appendChild(document.createTextNode(UsuarioO));
                  hilera.appendChild(celda);

                  //UsuarioD
                  var celda = document.createElement("td");
                  celda.appendChild(document.createTextNode(UsuarioD));
                  hilera.appendChild(celda);

                  //Atributos del renglón
                  hilera.setAttribute("id", IDe);

                  hilera.onmouseover = function () { document.getElementById(this.id).style.backgroundColor = "#e3e3e3"; };
                  hilera.onmouseout = function () { document.getElementById(this.id).style.backgroundColor = "#FAFAFA"; };
                  
                  hilera.ondblclick = function () {
				 	            //window.location.replace("http://localhost:8082/compras/" + this.id);
								
								//window.location.replace("/compras_edit/" + this.id);
								window.location.replace("/ventas_edit_frame/" + this.id);
                  };
                  
                  tblBody.appendChild(hilera);
                }

                tabla.appendChild(tblBody);
                //tabla.setAttribute("border", "1");
                tabla.className = "table table-hover text-center col-md-12";
                tabla.setAttribute("id", "tablaCompras")

                return tabla;
              }
            }

</script>
</div>
{{end}}