{{define "scripts_pages"}}
<script src="../../Recursos/Local/Pagos/js/pagos.js"></script>
{{end}} 

{{define "styles_pages"}}
<link href="../../Recursos/Local/Pagos/Css/pagos.css" rel="stylesheet" type="text/css">
{{end}}

{{define "content_body"}}
<div class="container">
	<div class="page-header">
		<h1>Creación de Formas de Pago : </h1>
	</div>
	<div class="row">
		<form id="miformularioimpuesto">				
			<div class="input-group input-group-md">
			<span class="input-group-addon">Elige Forma de pago:</span>
			<select onchange="GetForma();" name="s_forma_pago" id="s_forma_pago" class="selectpicker form-control">
                <option selected="" value="Seleccione forma de pago..">Seleccione forma de pago..</option>
				{{range .}}
                <option value="{{.Id.Hex}}">{{.Nombre}}</option>
				{{end}}
            </select>
            <span class="input-group-addon">
            	<input type="button" class="btn btn-md btn-success" value=" + Forma de Pago" name="nueva_forma" id="nueva_forma">
            </span>
            <span class="input-group-addon">
            	<input type="button" class="btn btn-md btn-danger" onClick="EliminarForma();" value=" - Eliminar forma de Pago" name="eliminar_forma" id="eliminar_forma">
            </span>
			</div>
			<div id="contenedor1"></div>
			<div id="contenedorguardar"></div>
		</form>
	</div>
</div>

<br>
<div class="container">
	<div class="row">
		<div id="contenedor2"></div>
		<div id="contenedor3"></div>
	</div>
</div>
{{end}}