<div class="input-group input-group-md">
	<span class="input-group-addon">Clave: </span>
	<input type="text" name="clave'+numcampos+'" id="clave'+numcampos+'" value="" class="form-control clave">
	<span class="input-group-addon">Valor: </span>
	<input type="text" name="valor'+numcampos+'" id="valor'+numcampos+'" value="" class="form-control valor">
</div>


<div class="input-group input-group-md claves" id="valores_'+numcampos'">
	<span class="input-group-addon">Nombre: </span>
	<input type="text" name="nombre_'+numcampos+'" id="nombre_'+numcampos+'" value="" class="form-control nombre">
	<span class="input-group-addon">Tipo:
	<label class="radio-inline"><input type="radio" name="impuesto_tipo_'+numcampos+'" id="impuesto_tipo_'+numcampos+'" value ="porcentaje"checked>Porcentaje</label>
	<label class="radio-inline"><input type="radio" name="impuesto_tipo_'+numcampos+'" id="impuesto_tipo_'+numcampos+'" value ="moneda">Moneda</label>
	</span>
	<span class="input-group-addon">Valor: </span>
	<input type="text" name="valor_'+numcampos+'" id="valor_'+numcampos+'" value="" class="form-control valor">
	<span class="input-group-addon">Descripcion: </span>
	<input type="text" name="desc_'+numcampos+'" id="desc_'+numcampos+'" value="" class="form-control valor">
	<span class="input-group-addon btn btn-danger eliminar">-</span>
</div>

<div class="input-group input-group-md claves" id="valores_'+numcampos'"><span class="input-group-addon">Nombre:</span><input type="text" name="nombre_'+numcampos+'" id="nombre_'+numcampos+'" value="" class="form-control nombre"><span class="input-group-addon">Tipo:<label class="radio-inline"><input type="radio" name="impuesto_tipo_'+numcampos+'" id="impuesto_tipo_'+numcampos+'" value ="porcentaje"checked>Porcentaje</label> <label class="radio-inline"><input type="radio" name="impuesto_tipo_'+numcampos+'" id="impuesto_tipo_'+numcampos+'" value ="moneda">Moneda</label></span><span class="input-group-addon">Valor:</span><input type="text" name="valor_'+numcampos+'" id="valor_'+numcampos+'" value="" class="form-control valor"><span class="input-group-addon">Descripcion:</span><input type="text" name="desc_'+numcampos+'" id="desc_'+numcampos+'" value="" class="form-control valor">
<span class="input-group-addon btn btn-danger eliminar">-</span></div>

`<div class="input-group input-group-md claves" id="valores_%d">
											<span class="input-group-addon">Nombre: </span>

											<input type="text" name="nombre_%d" id="nombre_%d" value="%v" class="form-control nombre">
											<span class="input-group-addon">Tipo:
		 									<label class="radio-inline"><input type="radio" name="impuesto_tipo_%d" id="impuesto_tipo_%d" value ="porcentaje">Porcentaje</label>
				 							<label class="radio-inline"><input type="radio" name="impuesto_tipo_%d" id="impuesto_tipo_%d" value ="moneda"checked>Moneda</label>
											</span>

											<span class="input-group-addon">Valor: </span>
											<input type="text" name="valor_%d" id="valor_%d" value="%v" class="form-control valor">
											<span class="input-group-addon">Descripcion: </span>
											<input type="text" name="desc_%d" id="desc_%d" value="%v" class="form-control valor">
											<span class="input-group-addon btn btn-danger eliminar">-</span>
										</div>`

<div class="input-group input-group-md"><span class="input-group-addon"><input type="button" class="btn btn-lg btn-success" onClick="GuardarImpuesto();" value="Guardar Impuesto" name="guardarimpuesto" id="guardarimpuesto"></span></div>



		lim := len(nombres)
		for i := 0; i < lim; i++ {

			flotante, err := strconv.ParseFloat(valores[i], 64)

			impuesto = Impuesto{Nombre: nombres[i], Tipo: tipos[i], Valor: flotante, Descripcion: descripcion[i]}
			impuestos = append(impuestos, impuesto)
		}
		
		fmt.Println(impuestos)




							<div class="input-group input-group-md">
								<span class="input-group-addon">
									<input type="button" class="btn btn-primary" onClick="GuardarFormaPago();" value="Guardar" name="guardarforma" id="guardarforma">
								 </span>
							</div>

							<div class="input-group input-group-md"><span class="input-group-addon"><input type="button" class="btn btn-lg btn-success" onClick="GuardarFormaPago();" value="Guardar Forma de Pago" name="guardarforma" id="guardarforma"></span></div>




							<link href="../../Recursos/Local/Pagos/Css/pagos.css" rel="stylesheet" type="text/css">



<div class="input-group input-group-md claves clearfix" id="valores_'+numcampos+'">
<span class="input-group-addon">Nombre:</span>
<input type="text" name="nombre_'+numcampos+'" id="nombre_'+numcampos+'" value="" class="form-control nombre">
<span class="input-group-addon">Tipo:&nbsp;<label class="radio-inline">
<input type="radio" name="impuesto_tipo_'+numcampos+'" id="impuesto_tipo_'+numcampos+'" value ="porcentaje"checked>%&nbsp;</label>
<label class="radio-inline"><input type="radio" name="impuesto_tipo_'+numcampos+'" id="impuesto_tipo_'+numcampos+'" value ="moneda">$</label>
</span><span class="input-group-addon">Valor:</span>
<input type="text" name="valor_'+numcampos+'" id="valor_'+numcampos+'" value="" class="form-control valor">
<span class="input-group-addon">Descripcion: </span>
<input type="text" name="desc_'+numcampos+'" id="desc_'+numcampos+'" value="" class="form-control descripcion">
<span class="input-group-addon btn btn-danger eliminar">-</span></div>



<div class="input-group input-group-md claves" id="valores_%d">
	<span class="input-group-addon">Nombre: </span>
	<input type="text" name="nombre_%d" id="nombre_%d" value="%v" class="form-control nombre">
	<span class="input-group-addon">Abreviatura: </span>
	<input type="text" name="valor_%d" id="valor_%d" value="%v" class="form-control abreviatura">
	<span class="input-group-addon btn btn-danger eliminar">-</span>
</div>`



<div class="input-group input-group-md claves clearfix" id="valores_'+numcampos+'"><span class="input-group-addon">Nombre:</span><input type="text" name="nombre_'+numcampos+'" id="nombre_'+numcampos+'" value="" class="form-control nombre"><span class="input-group-addon">Abreviatura: </span><input type="text" name="valor_'+numcampos+'" id="valor_'+numcampos+'" value="" class="form-control valor"><span class="input-group-addon btn btn-danger eliminar">-</span></div></div>
