{{define "scripts_pages"}}
<script src="../../Recursos/Local/Ajustes/js/ajustes.js"></script>
<script src="../../Recursos/Local/Ventas/js/search-venta.js"></script>
{{end}} 

{{define "styles_pages"}}
<link href="../../Recursos/Local/Ajustes/Css/ajustes.css" rel="stylesheet" type="text/css">
{{end}}

{{define "content_body"}}
<div class="container">
	<div class="page-header">
		<h1>Traslados y Ajustes de almacenes:</h1>
	</div>
	<div class="row">

		

			<div class="input-group input-group-md">
				<span class="input-group-addon">Almacén Origen:</span>
				<select onchange="AjusteTraslado();" name="s_origen" id="s_origen" class="selectpicker form-control">
                	<option selected="" value="Seleccione Origen..">Seleccione Origen</option>
					{{range .}}
                	<option value="{{.Id.Hex}}">{{.Nombre}}</option>
					{{end}}
            	</select>

            	<span class="input-group-addon">Almacén Destino:</span>
				<select onchange="AjusteTraslado();" name="s_destino" id="s_destino" class="selectpicker form-control">
                	<option selected="" value="Seleccione Destino..">Seleccione Destino</option>
					{{range .}}
                	<option value="{{.Id.Hex}}">{{.Nombre}}</option>
					{{end}}
            	</select>

<!-- 
            <span class="input-group-addon">
            	<input type="button" class="btn btn-md btn-success" onClick="Agregarmeta();" value=" + Meta-Impuesto" name="agregarmeta_" id="agregarmeta_">
            </span>
            <span class="input-group-addon">
            	<input type="button" class="btn btn-md btn-danger" onClick="EliminarMeta();" value=" - Eliminar Meta-Impuesto" name="eliminar_meta" id="eliminar_meta">
            </span>
-->
			</div>
<!-- 
			<div id="contenedor1"></div>
			<div id="contenedorguardar"></div>				
 -->

		


	</div>
</div>

<div class="container">
	<div class="row">

		<div id="contenedorajustes">
			

		</div>
	</div>
</div>
<div class="row">
	<p>
		&nbsp;
	</p>
</div>

<div class="container">
	<div class="row">
		<div id="contenedortabla" >		
		
			<table class="table table-bordered text-center" >
			  <thead id="cabeceraajuste">
			  <tr>
			  	<th>Codigo</th>
			    <th>Nombre</th>
			    <th>Precio</th>
			    <th>Existencia</th>
			    <th>Operación</th>
			    <th>Cantidad a Ajustar</th>
			    <th>Eliminar</th>
			  </tr>
			  </thead>

			  <thead id="cabeceratraslado">
			  <tr>
			  	<th>Codigo</th>
			    <th>Nombre</th>
			    <th>Precio</th>
			    <th>Alm Origen</th>
			    <th>Alm Destino</th>
			    <th>Cantidad a Ajustar</th>
			    <th>Eliminar</th>
			  </tr>
			  </thead>



			  <tbody id="contenedordeproductos" >

			  </tbody>


			</table>
		</div>
		

	</div>
	<div class="row">
		<div id="contenedorbotonguardar">									
			<input type="button" class="btn btn-primary" onClick="Ejecutar()" value="Realizar" name="realizarmov" id="realizarmov">					
		</div>		
	</div>
</div>

<div class="clearfix"></div>
<br>
<div class="container">
	<div class="row">
		<div id="contenedornoencontrado"></div>
	</div>
</div>
<br>
<!--Modal para busqueda -->
	<div class="modal fade bd-example-modal-lg" id="modal-search" data-backdrop=”static” data-keyboard=”false” tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
		
	    <div class="modal-content">
			<div class="modal-header">
		        <h5 class="modal-title">Buscar articulo</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		    </div>
			<div class="modal-body">
		       	<div class="form-inline">
					<div class="form-group col-md-9">
					    <input id="scanner_search3" name="scanner_search" type="text" class="form-control" style="width:100%">
					</div>
					 
					<button id="search-mongo-venta3" type="button" class="btn btn-default">Buscar</button>
				</div>
			
				<div style="margin-top:10px"></div>
				<div class="container-fluid" id="result-mongo-range-search"></div>
				
				<nav id="search-pagination" aria-label="Page navigation example" style="text-align: center;">
					 
				</nav>
								
		    </div>
			<div class="modal-footer">
		        <button type="button" id="dismiss-empty" class="btn btn-secondary" data-dismiss="modal">Close</button>		        
		    </div>
	    </div>
		
	  </div>
	</div>
<!--Termina modal para busqueda-->
{{end}}

