{{define "scripts_pages"}}
<script src="../../Recursos/Local/Devolucion/js/Devolucion.js"></script>
<script src="../../Recursos/Local/Devolucion/js/jquery.PrintArea.js"></script>
<link href="../../Recursos/Local/Devolucion/css/estilo.css" rel="stylesheet" type="text/css" />
{{end}} 

{{define "content_body"}}
<div class="container" style=" margin-bottom:10%">
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#kardex" data-toggle="tab">Devolución y Garantía</a></li>
</ul>
<div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="kardex">            
			<div class="col-lg-6">
	            <div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Tus datos</div>
				  	<div class="panel-body">
					<form>
						<!--Busqueda de documento-->
						  <div class="col-lg-12">
						    <div class="form-group">
							<span>¿Que documento?</span>
							<div class="input-group">	
								
						      <input type="text" class="form-control" id="idDocumento">
						      <span class="input-group-btn">						        
								<!--<buttont type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target=".bd-example-modal-lg" >Buscar</button>-->
								<button type="button" class="btn btn-primary" onClick="GetForma();">Buscar</button>
						      </span>
						    </div>
							</div>
						  </div>	
						<!---->
											
						<div class="col-lg-6">
						<div class="funkyradio">
							
							<div class="form-group">
							
					            <div class="funkyradio-primary">
						            <input type="radio" name="movimiento" onClick="activaAlmacen()" id="radio1" value="devolucion" checked="checked" />
						            <label for="radio1">Devolución</label>
						        </div>
							</div>
						</div>
			        	</div>
						<div class="col-lg-6">
						<div class="funkyradio">
							<span></span>
							<div class="form-group">							
					            <div class="funkyradio-primary">
						            <input type="radio" name="movimiento" onClick="activaAlmacen()" id="radio2" value="garantia" />
						            <label for="radio2">Garantía</label>
						        </div>
							</div>
						</div>
			        	</div>	  				
						<!-- Lista de almacenes -->
						<div class="col-lg-12" id="almacenes" style="display:none;">
						    <div class="form-group">
							<span>¿Que almacen?</span>
							  <select class="form-control" id="idAlmacen">
								<option value="0">[Seleccione un almacen]</option>
								{{range .almacenes}}
							  	<option value="{{.Id.Hex}}">{{.Nombre}}</option>
								{{end}}
							  </select>
							</div>
						</div>
						
					</form>					
					</div>
				</div>
			</div>
			
			<div class="col-lg-12">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Detalle de documento</div>
				<div id="contenedor1">
				  <!--<div class="panel-body" id="contenedor1"></div>-->
				</div>
				</div>
			</div>
        </div>
		
		
</div>
</div>

<!--Modal para busqueda -->
	<div class="modal fade bd-example-modal-lg" id="modal-search" data-backdrop=”static” data-keyboard=”false” tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
		
	    <div class="modal-content">
			<div class="modal-header">
		        <h5 class="modal-title">Buscar articulo</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		    </div>
			<div class="modal-body">
		       	<div class="form-inline">
					<div class="form-group col-md-9">
					    <input id="scanner_search2" name="scanner_search" type="text" class="form-control" style="width:100%">
					</div>
					 
					<button id="search-mongo-venta2" type="button" class="btn btn-default">Buscar</button>
				</div>
			
				<div style="margin-top:10px"></div>
				<div class="container-fluid" id="result-mongo-range-search"></div>
				
				<nav id="search-pagination" aria-label="Page navigation example" style="text-align: center;">
					 
				</nav>
								
		    </div>
			<div class="modal-footer">
		        <button type="button" id="dismiss-empty" class="btn btn-secondary" data-dismiss="modal">Close</button>		        
		    </div>
	    </div>
		
	  </div>
	</div>
<!--Termina modal para busqueda-->
<!--Modal para mostrar el documento-->
	<div class="modal fade modal-doc" id="modal-documento" data-backdrop=”static” data-keyboard=true tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-md">
		
	    <div class="modal-content">
			<div class="modal-header">
		        <h5 class="modal-title" id="titulo-doc"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		    </div>
			<div class="modal-body" id="documento">

		    </div>
			<div class="modal-footer">	
			<button type="button" class="btn btn-primary" onClick="imprimir()">Enviar a impresora</button>	        
		    </div>
	    </div>
		
	  </div>
	</div>
<!--Termina modal para mostrar documento-->
{{end}}