{{define "scripts_pages"}}

<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-collapse.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-modal.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrapValidator.js"></script>
<script src="../../Recursos/Local/Usuarios/js/privateUsr.js"></script>

{{end}} 

{{define "styles_pages"}}
<link href="../../Recursos/Global/Plugins/bootstrap/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
{{end}} 

{{define "content_body"}}
<div class="col-md-12">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="#cl" id="selector1"> Editar Usuario</a></h3>
                </div>

                <div class="panel-body" id="cl">
                    <form action="/users/edit/{{.result.Id.Hex}}" class="form-horizontal" method="POST">
                        <input id="id" name="id" type="hidden" value="{{.result.Id.Hex}}" />
                        <fieldset>
                                      <legend>
                                          <h3>Edicion Usuario:</h3>
                                      </legend>

                                              <div class="form-group has-feedback input-group-md col-md-12">
                                                  <div class="input-group ">
                                                     <label for="nombre" class=" input-group-addon">Nombre Completo:</label>
                                                     <input id="nombre" name="nombre" type="text" class="form-control" value="{{.result.Nombre}}" placeholder="Ej. Caleb Cruz Christi"  data-toggle="tooltip" title="Ej. Caleb Cruz Christi" required/>
                                                  </div>
                                              </div>
                                      
                                            <div class="col-md-7">
                                                            <div class="form-group has-feedback input-group-md">
                                                                <div class="input-group input-group-md">
                                                                    <label for="usuario" class=" input-group-addon">Usuario</label>
                                                                    <input id="usuario" name="usuario" type="text" class="form-control" value="{{.result.Usuario}}" placeholder="Usuario" data-toggle="tooltip" title="Ej. myUsr"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group has-feedback input-group-md">
                                                                <div class="input-group ">
                                                                    <label for="password" class=" input-group-addon">Password:</label>
                                                                    <input id="password" name="password" type="password" class="form-control" value="{{.result.Password}}" placeholder="Password" data-toggle="tooltip" title="Ej. littlesecret" required/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group has-feedback input-group-md">
                                                                <div class="input-group input-group-md">
                                                                    <label for="confirm" class=" input-group-addon">Confirm:</label>
                                                                    <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" value="{{.result.Password}}" placeholder="Password Confirm" data-toggle="tooltip" title="Ej. Reescribe littlesecret"/>
                                                                </div>
                                                            </div>
                                            </div>
                                          <div class="col-md-1">&nbsp;</div>
                                          <div class="col-md-4">
                                                <div>
                                                    <h4>Estatus:</h4>
                                                </div>
                                                {{.active_radio}}
                                          </div>
                                      
                                      

                                      <div class="clearfix">&nbsp;</div>
                                      <fieldset>
                                          <legend>
                                              <h3>Direcci&oacute;n: </h3>
                                          </legend>
                                              <div class="form-group has-feedback input-group-md col-md-6">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domiciliocalle" class=" input-group-addon"><span class="glyphicon glyphicon-road"></span></label>
                                                      <input id="Domiciliocalle" name="calle" type="text" class="form-control" value="{{.result.Direccion.Calle}}"  placeholder="Calle"  data-toggle="tooltip" title="Ej. Calle Reforma" required/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group ">
                                                      <label for="DomicilionoExterior" class=" input-group-addon"><span class="glyphicon glyphicon-home"></span></label>
                                                      <input id="DomicilionoExterior" name="noExterior" class="form-control" value="{{.result.Direccion.NumExterior}}" placeholder="Num. Ext." data-toggle="tooltip" title="Ej. 258951 o vac&iacute;o si no aplica." required/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group">
                                                      <label for="DomicilionoInterior" class=" input-group-addon"><span class="glyphicon glyphicon-hand-down"></span></label>
                                                      <input id="DomicilionoInterior" name="noInterior" type="text" value="{{.result.Direccion.NumInterior}}" placeholder="Num. Int." class="form-control" data-toggle="tooltip" title="Ej. Dpto. 5 o 23 o Piso 2." />
                                                  </div>
                                              </div>
                                          <div class="clearfix"></div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domiciliocolonia" class=" input-group-addon"><span class="glyphicon glyphicon-screenshot"></span></label>
                                                      <input id="Domiciliocolonia" name="colonia" type="text" class="form-control" value="{{.result.Direccion.Colonia}}" placeholder="Colonia" data-toggle="tooltip" title="Ej. Centro." required/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domiciliolocalidad" class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></label>
                                                      <input id="Domiciliolocalidad" name="localidad" type="text" class="form-control" value="{{.result.Direccion.Localidad}}" placeholder="Localidad" data-toggle="tooltip" title="Ej. Fracc. 'El retiro'." required/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domiciliomunicipio" class=" input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></label>
                                                      <input id="Domiciliomunicipio" name="municipio" type="text" class="form-control" value="{{.result.Direccion.Municipio}}" placeholder="Municipio" data-toggle="tooltip" title="Ej. Oaxaca de Juarez." required/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domicilioestado" class=" input-group-addon"><span class="glyphicon glyphicon-send"></span></label>
                                                      <select id="Domicilioestado" name="estado" class="form-control" required>
                                                          {{.est}}
                                                      </select>
                                                  </div>
                                              </div>
                                                <div class="form-group has-feedback input-group-md col-md-3">
                                                    <div class="input-group input-group-md">
                                                          <label for="DomiciliocodigoPostal" class=" input-group-addon"><span class="glyphicon glyphicon-inbox"></span></label>
                                                          <input id="DomiciliocodigoPostal" name="codigoPostal" type="text" class="form-control" value="{{.result.Direccion.CodigoPostal}}" placeholder="C&oacute;digo postal" data-toggle="tooltip" title="Ej. 68000." />
                                                    </div>
                                                </div>
                                      </fieldset>
                                      <div class="clearfix">&nbsp;</div>

                                      <fieldset>
                                          <legend>
                                              <h3>Contacto:</h3>
                                          </legend>
                                          <div class="form-group has-feedback col-md-3">
                                              <div class="input-group input-group-md">
                                                  <label for="email" class=" input-group-addon"><span class="glyphicon glyphicon-envelope"></span></label>
                                                  <input id="email" name="email" type="text" class="form-control" value="{{.result.Contacto.Email}}" placeholder="cooreo@ejemplo.lol" data-toggle="tooltip" title="miCorreo@midominio.lol" />
                                              </div>
                                          </div>
                                          <div class="form-group has-feedback col-md-3">
                                              <div class="input-group input-group-md">
                                                  <label for="telefono" class=" input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></label>
                                                  <input id="telefono" name="telefono" type="text" class="form-control" value="{{.result.Contacto.Telefono}}" placeholder="Tel&eacute;fono" data-toggle="tooltip" title="Ej.95195145689" />
                                              </div>
                                          </div>
                                          <div class="form-group has-feedback col-md-3">
                                              <div class="input-group input-group-md">
                                                  <label for="celular" class=" input-group-addon"><span class="glyphicon glyphicon-phone"></span></label>
                                                  <input id="celular" name="celular" type="text" class="form-control" value="{{.result.Contacto.Celular}}" placeholder="Celular" data-toggle="tooltip" title="Ej.95195145689" />
                                              </div>
                                          </div>

                                      	</fieldset>
                                      	<div class="clearfix">&nbsp;</div>
                                      	<fieldset>
                                          	<legend>
                                              	<h3>Campos Adicionales:</h3>
                                          	</legend>
                                          	<div class="row" id="nuevosCampos">
												{{.aditional_data}}
                                          	</div>
											<div class="clearfix">&nbsp;</div>
	                                        <div class="input-group input-group-md row">
	                                            <div class="col-md-4">
	                                                <input type="text" placeholder="Nombre de Campo" id="campoNuevo"  data-toggle="tooltip" title="Ej. myNewField.">
	                                            </div>
	                                            <div class="col-md-4">
	                                                <input type="text" placeholder="Valor" id="valorCampo" data-toggle="tooltip" title="Ej. myNewId." >
	                                            </div>
	                                            <div class="col-md-4">
	                                                <input type="button" value="+" class="btn btn-success" id="agregarCampo" data-toggle="tooltip" title="Agregar Campo.">
	                                            </div>
	                                        </div>
	                                    </fieldset>
	                                    <div class="row">
	                                        <div class="col-md-9">&nbsp;</div>
	                                      	<div class="btn-group btn-group-md col-md-3">
												<input type="reset" value="Cancelar" id="Cancelar" onclick="window.location.replace('/usuarios_frame')" class="btn btn-warning">												
	                                            <input type="submit" value="Actualizar" id="Actualizar" class="btn btn-primary">
	                                        </div>
	                                      </div>
                                  </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{{end}}