{{define "scripts_pages"}}
	<script src="../Recursos/Local/Plantilla/js/dashboard.js" type="text/javascript"></script>
{{end}}
{{define "styles_pages"}}
{{end}}
{{define "content_body"}}
					<table class="table table-striped table-bordered table-hover order-column">
	                    <thead>
	                        <tr>
	                            <th>Nombre</th>
	                            <th>Usuario</th>
	                            <th>Estatus</th>	                            
								<th>Administrar</th>
	                        </tr>
	                    </thead>
	                    <tbody>
						{{range .}}
	                        <tr class="odd gradeX">
	                            
	                            <td> {{.Nombre}} </td>
	                            <td>
	                                {{.Usuario}}
	                            </td>
				                <td>
									{{if .Activo}}
			 						<span class="label label-sm label-success">Activado</span>
									{{else}}
									<span class="label label-sm label-danger">No activo</span>
									{{end}}
				                </td>
								
								<td class="btn-group">	
									<a href="/users/mostrar/{{.Id.Hex}}" class="btn btn-outline" role="button"><label class="glyphicon glyphicon-sunglasses"><label></a>																									
									<a href="/users/edit/{{.Id.Hex}}" class="btn btn-outline" role="button"><label class="glyphicon glyphicon-pencil"><label></a>
									<a href="/users/delete/{{.Id.Hex}}" class="btn btn-outline" role="button" onclick="return confirm('¿Desea realmente eliminar el proveedor?')"><label class="glyphicon glyphicon-trash"></label></a>
								</td>		
														
	                        </tr>
						{{end}}
	                    </tbody>
	                </table>
				<div class="btn-group" style="position:relative; left:75%;">
					<a id="altaarticulos" class="btn btn-primary" href="/users/new_frame" data-toggle="modal">Registrar nuevo usuario*</a>
				</div>

{{end}}


