{{define "scripts_pages"}}

{{end}} 

{{define "styles_pages"}}
	
{{end}} 

{{define "content_body"}}
<div class="col-md-12">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="#cl" id="selector1">Detalles</a></h3>
                </div>

                <div class="panel-body" id="cl">
                    <form action="/users/edit/{{.result.Id.Hex}}" class="form-horizontal" method="POST">
                        <input id="id" name="id" type="hidden" value="{{.result.Id.Hex}}" />
                        <fieldset>

                                              <div class="form-group has-feedback input-group-md col-md-12">
                                                  <div class="input-group ">
                                                     <label for="nombre" class=" input-group-addon">Nombre Completo:</label>
                                                     <input type="text" class="form-control" value="{{.result.Nombre}}" disabled/>
                                                  </div>
                                              </div>
                                      
                                            <div class="col-md-7">
                                                            <div class="form-group has-feedback input-group-md">
                                                                <div class="input-group input-group-md">
                                                                    <label for="usuario" class=" input-group-addon">Usuario</label>
                                                                    <input type="text" class="form-control" value="{{.result.Usuario}}" disabled/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group has-feedback input-group-md">
                                                                <div class="input-group ">
                                                                    <label for="password" class=" input-group-addon">Password:</label>
                                                                    <input type="password" class="form-control" value="{{.result.Password}}" disabled/>
                                                                </div>
                                                            </div>
                                            </div>
                                          <div class="col-md-1">&nbsp;</div>
                                          <div class="col-md-4">
                                                <div>
                                                    <h4>Estatus:</h4>
                                                </div>
                                                {{.active_radio}}
                                          </div>
                                      
                                      

                                      <div class="clearfix">&nbsp;</div>
                                      <fieldset>
                                              <h3>Direcci&oacute;n: </h3>                                        
                                              <div class="form-group has-feedback input-group-md col-md-6">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domiciliocalle" class=" input-group-addon"><span class="glyphicon glyphicon-road"></span></label>
                                                      <input type="text" class="form-control" value="{{.result.Direccion.Calle}}"  disabled/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group ">
                                                      <label for="DomicilionoExterior" class=" input-group-addon"><span class="glyphicon glyphicon-home"></span></label>
                                                      <input class="form-control" value="{{.result.Direccion.NumExterior}}" disabled/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group">
                                                      <label for="DomicilionoInterior" class=" input-group-addon"><span class="glyphicon glyphicon-hand-down"></span></label>
                                                      <input type="text" value="{{.result.Direccion.NumInterior}}" disabled />
                                                  </div>
                                              </div>
                                          <div class="clearfix"></div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domiciliocolonia" class=" input-group-addon"><span class="glyphicon glyphicon-screenshot"></span></label>
                                                      <input type="text" class="form-control" value="{{.result.Direccion.Colonia}}" disabled/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domiciliolocalidad" class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></label>
                                                      <input type="text" class="form-control" value="{{.result.Direccion.Localidad}}" disabled/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domiciliomunicipio" class=" input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></label>
                                                      <input type="text" class="form-control" value="{{.result.Direccion.Municipio}}" disabled/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domicilioestado" class=" input-group-addon"><span class="glyphicon glyphicon-send"></span></label>
                                                      <select class="form-control" disabled>
                                                          {{.est}}
                                                      </select>
                                                  </div>
                                              </div>
                                                <div class="form-group has-feedback input-group-md col-md-3">
                                                    <div class="input-group input-group-md">
                                                          <label for="DomiciliocodigoPostal" class=" input-group-addon"><span class="glyphicon glyphicon-inbox"></span></label>
                                                          <input type="text" class="form-control" value="{{.result.Direccion.CodigoPostal}}" disabled />
                                                    </div>
                                                </div>
                                      </fieldset>
                                      <div class="clearfix">&nbsp;</div>

                                      <fieldset>                                          
                                              <h3>Contacto:</h3>
                                          <div class="form-group has-feedback col-md-3">
                                              <div class="input-group input-group-md">
                                                  <label for="email" class=" input-group-addon"><span class="glyphicon glyphicon-envelope"></span></label>
                                                  <input type="text" class="form-control" value="{{.result.Contacto.Email}}" disabled />
                                              </div>
                                          </div>
                                          <div class="form-group has-feedback col-md-3">
                                              <div class="input-group input-group-md">
                                                  <label for="telefono" class=" input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></label>
                                                  <input type="text" class="form-control" value="{{.result.Contacto.Telefono}}" disabled />
                                              </div>
                                          </div>
                                          <div class="form-group has-feedback col-md-3">
                                              <div class="input-group input-group-md">
                                                  <label for="celular" class=" input-group-addon"><span class="glyphicon glyphicon-phone"></span></label>
                                                  <input type="text" class="form-control" value="{{.result.Contacto.Celular}}" disabled />
                                              </div>
                                          </div>

                                      	</fieldset>
                                      	<div class="clearfix">&nbsp;</div>
                                      	<fieldset>                                          	
                                              	<h3>Campos Adicionales:</h3>                                          	
                                          	<div class="row" id="nuevosCampos">
												{{.aditional_data}}
                                          	</div>
											<!--<div class="clearfix">&nbsp;</div>
	                                        <div class="input-group input-group-md row">
	                                            <div class="col-md-4">
	                                                <input type="text" disabled>
	                                            </div>
	                                            <div class="col-md-4">
	                                                <input type="text" disabled >
	                                            </div>
	                                        </div>-->
	                                    </fieldset>
                                  </fieldset>

								<div class="row">
	                            	<div class="col-md-9">&nbsp;</div>
		                            <div class="btn-group btn-group-md col-md-2" style="padding-bottom: 110px">
									<input type="reset" value="Cancelar" id="Cancelar" onclick="window.location.replace('/usuarios_frame')" class="btn btn-warning">
		                            </div>
		                        </div>		
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{{end}}