{{define "scripts_pages"}}
<script src="../../Recursos/Local/Movimientos/js/movimientos.js"></script>
{{end}} 

{{define "styles_pages"}}
<link href="../../Recursos/Local/Movimientos/Css/movimientos.css" rel="stylesheet" type="text/css">
{{end}}

{{define "content_body"}}


<div class="container">
	<div class="row">
		
		<div class="page-header">
			<h1>Historial de Movimientos</h1>
		</div>
	</div>

	<div class="row">
	<br>
		<div class="input-group input-group-md">
			<span class="input-group-addon">Tipos de Movimientos:</span>
			<select onchange="GetMovimientos();" name="s_movimientos" id="s_movimientos" class="selectpicker form-control">
	           	<option selected="" value="Seleccione Movimiento..">Seleccione tipo de movimiento</option>
		       	<option value="venta">Ventas</option>
		       	<option value="cotizacion">Cotizaciones</option>
		       	<option value="compra">Compras</option>
		       	<option value="devolucion">Devoluciones</option>
		       	<option value="garantia">Garantias</option>
		       	<option value="ajuste">Ajustes</option>
		       	<option value="traslado">Traslados</option>
		   	</select>
		</div>	
	</div>
</div>

<div class="container">
	<div class="row">
	<br>
	<hr>
		<div id="contenedormovimientos">
			
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="modal fade" id="myModal1">
		<div class="modal-dialog  modal-lg">    
    		<div class="modal-content">

   				<div class="modal-header">
       				<button type="button" class="close" data-dismiss="modal">&times;</button>
       				<h4 class="modal-title">Información Produtos</h4>
    			</div>

    			<div class="modal-body">
       				<div id="contenedorproductosunicos">	

       				</div>
       			</div>

        		<div class="modal-footer">   					
          			<button type="button" class="btn btn-danger" id="btncerrarmodal" data-dismiss="modal">Cerrar</button>
        		</div>
    		</div>  
    	</div>
 	</div>	

</div>



{{end}}

