{{define "scripts_pages"}}

{{end}}
{{define "styles_pages"}}
{{end}}
{{define "content_body"}}

					<table class="table table-striped table-bordered table-hover order-column">
	                    <thead>
	                        <tr>
	                            <th>Rfc</th>
	                            <th>Nombre </th>
	                            <th>Estatus </th>	                            
								<th>Opciones</th>
	                        </tr>
	                    </thead>
	                    <tbody>
						{{range .}}
	                        <tr class="odd gradeX">
	                            
	                            <td> {{.Rfc}} </td>
	                            <td>
	                                {{.Nombre}}
	                            </td>
	                            
	                            <td>
								{{if .Activo}}
 									<span class="label label-sm label-success"> Activado </span>
								{{else}}
									<span class="label label-sm label-danger"> No activo </span>
								{{end}}
	                                
	                            </td>
								<td class="btn-group">																										
									<a href="/client/edit/{{.Id.Hex}}" class="btn btn-outline" role="button"><label class="glyphicon glyphicon-pencil"><label></a>
									<a href="/client/delete_frame/{{.Id.Hex}}" class="btn btn-outline" role="button" onclick="return confirm('¿Desea realmente eliminar el cliente?')"><label class="glyphicon glyphicon-trash"></label></a>
								</td>
	                        </tr>
						{{end}}
	                    </tbody>
	                </table>
					<div class="btn-group" style="position:relative; left:75%;">
						<a id="altaarticulos" class="btn btn-primary" href="/client/new" data-toggle="modal">Nuevo cliente*</a>
					</div>
{{end}}


