{{define "scripts_pages"}}

<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-collapse.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-modal.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrapValidator.js"></script>
<script src="../../Recursos/Local/Usuarios/js/privateUsr.js"></script>

{{end}} 

{{define "styles_pages"}}
<link href="../../Recursos/Global/Plugins/bootstrap/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
{{end}} 

{{define "content_body"}}
<div class="col-md-12">
    <div class="row">

        <div class="col-lg-12">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="#cl" id="selector1"> Alta Cliente</a></h3>
                </div>
                <div class="panel-body" id="cl">
                        	<form id="defaultForm" action="/client/new" class="form-horizontal" method="POST">
                                  <fieldset>
                                      <legend>
                                          <h3> Cliente:</h3>
                                      </legend>
												
                                              	<div class="form-group has-feedback input-group-md col-md-4">
                                                  	<div class="input-group ">
                                                     	<label for="rfc" class=" input-group-addon">RFC:</label>
                                                     	<input id="rfc" name="rfc" type="text" class="form-control" placeholder=""  data-toggle="tooltip" title="" required/>
                                                  	</div>
                                              	</div>
												<div class="clearfix">&nbsp;</div>
												<div class="form-group has-feedback input-group-md col-md-6">
                                                  
													<div class="input-group ">
                                                     	<label for="nombre" class=" input-group-addon">Nombre o razón social:</label>
                                                     	<input id="nombre" name="nombre" type="text" class="form-control" placeholder="Leonardo Da Vinci (o razon social)"  data-toggle="tooltip" title="Introduce tu nombre o rason social" required/>
                                                  	</div>
                                              	</div>
                                                
												<div class="clearfix">&nbsp;</div>
												<div class="form-group has-feedback input-group-md col-md-4">
	                                                <div class="input-group input-group-md">
	                                                    <input id="activo" name="estatus" type="radio" class="input" value="activo"/>
	                                                    <label for="activo" class="input-label">Activo</label>
	                                                </div>
	                                                <div class="input-group input-group-md">
	                                                    <input id="inactivo" name="estatus" type="radio" class="input" value="inactivo"/>
	                                                    <label for="inactivo" class="input-label">Inactivo</label>
	                                                </div>
	                                            </div>

                                      <div class="clearfix">&nbsp;</div>
                                      <fieldset>
                                          <legend>
                                              <h3>Direcci&oacute;n: </h3>
                                          </legend>
                                              <div class="form-group has-feedback input-group-md col-md-6">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domiciliocalle" class=" input-group-addon"><span class="glyphicon glyphicon-road"></span></label>
                                                      <input id="Domiciliocalle" name="calle" type="text" class="form-control"  placeholder="Calle"  data-toggle="tooltip" title="Ej. Calle Reforma" required/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group ">
                                                      <label for="DomicilionoExterior" class=" input-group-addon"><span class="glyphicon glyphicon-home"></span></label>
                                                      <input id="DomicilionoExterior" name="noExterior" class="form-control" placeholder="Num. Ext." data-toggle="tooltip" title="Ej. 258951 o vac&iacute;o si no aplica." required/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group">
                                                      <label for="DomicilionoInterior" class=" input-group-addon"><span class="glyphicon glyphicon-hand-down"></span></label>
                                                      <input id="DomicilionoInterior" name="noInterior" type="text" placeholder="Num. Int." class="form-control" data-toggle="tooltip" title="Ej. Dpto. 5 o 23 o Piso 2." />
                                                  </div>
                                              </div>
                                          <div class="clearfix"></div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domiciliocolonia" class=" input-group-addon"><span class="glyphicon glyphicon-screenshot"></span></label>
                                                      <input id="Domiciliocolonia" name="colonia" type="text" class="form-control" placeholder="Colonia" data-toggle="tooltip" title="Ej. Centro." required/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domiciliolocalidad" class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></label>
                                                      <input id="Domiciliolocalidad" name="localidad" type="text" class="form-control" placeholder="Localidad" data-toggle="tooltip" title="Ej. Fracc. 'El retiro'." required/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domiciliomunicipio" class=" input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></label>
                                                      <input id="Domiciliomunicipio" name="municipio" type="text" class="form-control" placeholder="Municipio" data-toggle="tooltip" title="Ej. Oaxaca de Juarez." required/>
                                                  </div>
                                              </div>
                                              <div class="form-group has-feedback input-group-md col-md-3">
                                                  <div class="input-group input-group-md">
                                                      <label for="Domicilioestado" class=" input-group-addon"><span class="glyphicon glyphicon-send"></span></label>
                                                      <select id="Domicilioestado" name="estado" class="form-control" required>
                                                          <option selected="" value="">Seleccione Estado... </option>
                                                          <option value="Aguascalientes">Aguascalientes</option>
                                                          <option value="Baja California">Baja California</option>
                                                          <option value="Baja California Sur">Baja California Sur</option>
                                                          <option value="Campeche">Campeche</option>
                                                          <option value="Chiapas">Chiapas</option>
                                                          <option value="Chihuahua">Chihuahua</option>
                                                          <option value="Coahuila">Coahuila</option>
                                                          <option value="Colima">Colima</option>
                                                          <option value="Ciudad de México">Ciudad de México</option>
                                                          <option value="Durango">Durango</option>
                                                          <option value="Estado de México">Estado de México</option>
                                                          <option value="Guanajuato">Guanajuato</option>
                                                          <option value="Guerrero">Guerrero</option>
                                                          <option value="Hidalgo">Hidalgo</option>
                                                          <option value="Jalisco">Jalisco</option>
                                                          <option value="Michoacán">Michoacán</option>
                                                          <option value="Morelos">Morelos</option>
                                                          <option value="Nayarit">Nayarit</option>
                                                          <option value="Nuevo León">Nuevo León</option>
                                                          <option value="Oaxaca">Oaxaca</option>
                                                          <option value="Puebla">Puebla</option><option value="Querétaro">Querétaro</option>
                                                          <option value="Quintana Roo">Quintana Roo</option>
                                                          <option value="San Luis Potosí">San Luis Potosí</option>
                                                          <option value="Sinaloa">Sinaloa</option>
                                                          <option value="Sonora">Sonora</option>
                                                          <option value="Tabasco">Tabasco</option>
                                                          <option value="Tamaulipas">Tamaulipas</option>
                                                          <option value="Tlaxcala">Tlaxcala</option>
                                                          <option value="Veracruz">Veracruz</option>
                                                          <option value="Yucatán">Yucatán</option>
                                                          <option value="Zacatecas">Zacatecas</option>
                                                      </select>
                                                  </div>
                                              </div>
                                                <div class="form-group has-feedback input-group-md col-md-3">
                                                    <div class="input-group input-group-md">
                                                          <label for="DomiciliocodigoPostal" class=" input-group-addon"><span class="glyphicon glyphicon-inbox"></span></label>
                                                          <input id="DomiciliocodigoPostal" name="codigoPostal" type="text" class="form-control" placeholder="C&oacute;digo postal" data-toggle="tooltip" title="Ej. 68000." />
                                                    </div>
                                                </div>
                                      </fieldset>
                                      <div class="clearfix">&nbsp;</div>

                                      <fieldset>
                                          <legend>
                                              <h3>Contacto:</h3>
                                          </legend>
                                          <div class="form-group has-feedback col-md-3">
                                              <div class="input-group input-group-md">
                                                  <label for="email" class=" input-group-addon"><span class="glyphicon glyphicon-envelope"></span></label>
                                                  <input id="email" name="email" type="text" class="form-control" placeholder="cooreo@ejemplo.lol" data-toggle="tooltip" title="miCorreo@midominio.lol" />
                                              </div>
                                          </div>
                                          <div class="form-group has-feedback col-md-3">
                                              <div class="input-group input-group-md">
                                                  <label for="telefono" class=" input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></label>
                                                  <input id="telefono" name="telefono" type="text" class="form-control" placeholder="Tel&eacute;fono" data-toggle="tooltip" title="Ej.95195145689" />
                                              </div>
                                          </div>
                                          <div class="form-group has-feedback col-md-3">
                                              <div class="input-group input-group-md">
                                                  <label for="celular" class=" input-group-addon"><span class="glyphicon glyphicon-phone"></span></label>
                                                  <input id="celular" name="celular" type="text" class="form-control" placeholder="Celular" data-toggle="tooltip" title="Ej.95195145689" />
                                              </div>
                                          </div>

                                      </fieldset>
                                      <div class="clearfix">&nbsp;</div>
                                      <fieldset>
                                          <legend>
                                              <h3>Campos Adicionales:</h3>
                                          </legend>
                                          <div class="row" id="nuevosCampos">
                                          </div>

                                          <div class="input-group input-group-md row">
                                              <div class="col-md-4">
                                                  <input type="text" placeholder="Nombre de Campo" id="campoNuevo"  data-toggle="tooltip" title="Ej. myNewField.">
                                              </div>
                                              <div class="col-md-4">
                                                  <input type="text" placeholder="Valor" id="valorCampo" data-toggle="tooltip" title="Ej. myNewId." >
                                              </div>
                                              <div class="col-md-4">
                                                  <input type="button" value="+" class="btn btn-success" id="agregarCampo" data-toggle="tooltip" title="Agregar Campo.">
                                              </div>
                                          </div>
                                      </fieldset>
                                      <div class="row">
                                          <div class="col-md-9">&nbsp;</div>
                                          <div class="btn-group btn-group-md col-md-3" style="padding-bottom: 40px">
                                              <input type="reset" value="Cancelar" id="Cancelar" onclick="window.location.replace('/client')" class="btn btn-warning">
                                              <input type="submit" value="Registrar" id="Registrar" class="btn btn-primary">
                                          </div>
                                      </div>
                                  </fieldset>
                              </form>
                </div>
            </div>
        </div>
</div>

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content panel panel-alert">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Mensaje</h4>
                </div>
                <div class="modal-body">
                    <p id="mensaje"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Modal-->

    {{end}}