input {
    width: 100%;
}
fieldset.contorno-borde {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #345;
            box-shadow:  0px 0px 0px 0px #345;
       -moz-box-shadow:  0px 0px 0px 0px #345;
}

legend.contorno-borde {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;

}
.cabecera-tabla{
    font-size: .7em
}