{{define "content_body"}}
<div class="container-fluid" id="contenedor" style="padding-bottom: 100px">
<section id="t-cards">
    <div class="container">
        <div class="row">
			<!--
				MENU VENTAS
			-->
             <div class="col-sm-6 col-md-3" id="menuventas">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="http://marketingland.com/wp-content/ml-loads/2014/08/shopping-cart-ecommerce-keyboard-ss-1920.jpg" /> 
                    </div>
					<!--
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
                    </div>
					-->
                    <div class="panel-body text-center">
                        <h4 class="panel-header"><a href="#" id="menuventas">Ventas</a></h4>
                        <small>Es la parte que permite al usuario autorizado proceder a la venta de bienes a un cliente o su devolución/garantía.</small>
                    </div>
                    
                </div>   
    		</div>
			<!--
				MENU COMPRAS 
			-->
            <div class="col-sm-6 col-md-3" id="menucompras">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="http://blog.mercadoshops.com/wp-content/uploads/2013/10/inventario.jpg" />
                        
                    </div>
					<!--
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mutlu82/73.jpg" />
                    </div>
					-->
                    <div class="panel-body text-center">
                        <h4 class="panel-header"><a href="#" id="menucompras2">Compras</a></h4>
                        <small>Es la parte que permite colocar bienes en inventario.</small>
                    </div>
                    
            	</div>   
    		</div> 			
			<!-- 
				MENU INVENTARIO 
			-->
		    <div class="col-sm-6 col-md-3" id="menuinventario1">
        	    <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="http://2.bp.blogspot.com/-yc4frf-rE50/VlPF7tIRgJI/AAAAAAAAACw/19z7sWKup74/s1600/INVENTARIO.jpg" />
                        
                    </div>
					<!--
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/josue/73.jpg" />
                    </div>
					-->
                    <div class="panel-body text-center">
                        <h4 class="panel-header"><a id="menuinventario2" href="#" >Inventario</a></h4>
                        <small>Permite manipular el inventario, ver su contenido, modificar y ver movimientos.</small>
                    </div>
                    
            	</div>   
    		</div>           		
			<!-- 
				MENU ADMINISTRACIÓN 
			-->
			<div class="col-sm-6 col-md-3" id="menuadministracion3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="http://dnl.com.vn/main/images/stories/tincongnghe/hpnet.jpg" />                        
                    </div>
					<!--
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/nisaanjani/73.jpg" />
                    </div>
					-->
                    <div class="panel-body text-center">
                        <h4 class="panel-header"><a id="menuadministracion2" href="#">Administracion</a></h4>
                        <small>La opción de administración permite configurar el sistema con los parámetros estrictamente necesarios para su funcionalidad.</small>
                    </div>
                    
            	</div>   
    		</div>            		                            
	    </div>
    </div>
</section>
</div>

{{end}}