{{define "scripts_pages"}}
<script src="../../Recursos/Local/Kardex/js/kardex.js"></script>
<script src="../../Recursos/Local/Ventas/js/search-venta.js"></script>
{{end}} 

{{define "content_body"}}
<div class="container">
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#kardex" data-toggle="tab">Kardex</a></li>
</ul>
<div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="kardex">
            <h3>REPORTE DE KARDEX</h3>
			<div class="col-lg-6">
	            <div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Filtros</div>
				  	<div class="panel-body">
					<form>
						  <div class="col-lg-12">
						    <div class="form-group">
							<div class="input-group">
							  <input type="hidden" class="form-control" id="idArticulo" disabled>
						      <input type="text" class="form-control" id="nombreArticulo" disabled>
						      <span class="input-group-btn">
						        <!--<button class="btn btn-default" type="button">Buscar</button>-->
								<buttont type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target=".bd-example-modal-lg">Buscar</button>
						      </span>
						    </div>
							</div>
						  </div>			  				
						  <!-- Lista almacenes -->
						<div class="col-lg-12">
						    <div class="form-group">
							  <select class="form-control" id="idAlmacen">
								<option value="0">[Seleccione un almacen]</option>
								{{range .almacenes}}
							  	<option value="{{.Id.Hex}}">{{.Nombre}}</option>
								{{end}}
							  </select>
							</div>
						</div>
						<div class="col-lg-12">
						    <div class="form-group">
							  <input type="text" class="form-control fecha" id="finicial">
							</div>
						</div>
						<div class="col-lg-12">
						    <div class="form-group">
							  <input type="text" class="form-control fecha" id="ffinal">
							</div>
						</div>
						<div class="col-lg-12">
						    <div class="form-group">
							  <button type="button" class="btn btn-primary" onClick="GetForma();">Generar Kardex</button>
							</div>
						</div>
					</form>					
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Resumen</div>
				  <div class="panel-body">
					<div class="well well-lg">Saldo Inicial<h3><p id="si"></h3></p></div>
					<div class="well well-lg">Saldo Final<h3><p id="sf"></p></h3></div>
				  </div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Detallado</div>
				  <div class="panel-body" id="contenedor1">
				  </div>
				</div>
			</div>
        </div>
		
		
</div>
</div>
<br><br><br><br>
<!--Modal para busqueda -->
	<div class="modal fade bd-example-modal-lg" id="modal-search" data-backdrop=”static” data-keyboard=”false” tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
		
	    <div class="modal-content">
			<div class="modal-header">
		        <h5 class="modal-title">Buscar articulo</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		    </div>
			<div class="modal-body">
		       	<div class="form-inline">
					<div class="form-group col-md-9">
					    <input id="scanner_search2" name="scanner_search" type="text" class="form-control" style="width:100%">
					</div>
					 
					<button id="search-mongo-venta2" type="button" class="btn btn-default">Buscar</button>
				</div>
			
				<div style="margin-top:10px"></div>
				<div class="container-fluid" id="result-mongo-range-search"></div>
				
				<nav id="search-pagination" aria-label="Page navigation example" style="text-align: center;">
					 
				</nav>
								
		    </div>
			<div class="modal-footer">
		        <button type="button" id="dismiss-empty" class="btn btn-secondary" data-dismiss="modal">Close</button>		        
		    </div>
	    </div>
		
	  </div>
	</div>
<!--Termina modal para busqueda-->
<!--Modal para mostrar el documento-->
	<div class="modal fade modal-doc" id="modal-documento" data-backdrop=”static” data-keyboard=true tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-md">
		
	    <div class="modal-content">
			<div class="modal-header">
		        <h5 class="modal-title" id="titulo-doc"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		    </div>
			<div class="modal-body" id="documento">

		    </div>
			<div class="modal-footer">		        
		    </div>
	    </div>
		
	  </div>
	</div>
<!--Termina modal para mostrar documento-->
{{end}}